---
layout: default
title: Welcome
logo: true
---

<div class="front page">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          {% if page.logo %}<img src="/assets/images/logo.svg" />{% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {% include vision.html %}
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="quote">Core Values</h2>
          <ol>
            <li>God-glorifying worship</li>
            <li>Gospel movement</li>
            <li>Genuine personal community</li>
            <li>Discipleship</li>
            <li>Christian service</li>
            <li>Active church planting</li>
          </ol>
        </div>
      </div>
      {% include program-connect.html %}
    </div>
  </div>
</div>
<div class="back page">
  <div class="row">
    <div class="col-xs-12">
      <hr/>
      <form action="https://docs.google.com/forms/d/e/1FAIpQLSfTJOaDX-e7jvbEJSZ1oX5TRVr9a6RcacDNhlznmplLJywTvQ/formResponse" method="POST">
        <div class="form-group row">
          <div class="col-xs-12">
            <label>Name</label>
            <input class="form-control" type="text" name="entry.1252853719">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <label>Email</label>
            <input class="form-control" type="email" name="entry.1285090575">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12 street-address">
            <label>Street address</label>
            <input class="form-control" type="text" name="entry.737004483">
          </div>
          <div class="col-xs-6">
            <label>City</label>
            <input class="form-control" type="text" name="entry.189495052">
          </div>
          <div class="col-xs-6">
            <label>Zip code</label>
            <input class="form-control" type="tel" name="entry.1528534800">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-4">
            <label>Area code</label> 
            <input class="form-control" type="tel" name="entry.508892220">
          </div>
          <div class="col-xs-8">
            <label>Phone number</label>
            <input class="form-control" type="tel" name="entry.2119994981">
          </div>  
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label>Birthdate</label>
            </div>
            <div class="col-xs-4">
              <label>Month</label>
              <input class="form-control" type="tel" name="entry.1947505572">
            </div>
            <div class="col-xs-4">
              <label>Date</label>
              <input class="form-control" type="tel" name="entry.1212492002">
            </div>
            <div class="col-xs-4">
              <label>Year</label>
              <input class="form-control" type="tel" name="entry.648425963">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <label>Check all that apply:</label>
            <div>
              <input type="checkbox" name="entry.761414804" value="I am in college" /> I am in college
            </div>
            <div>
              <input type="checkbox" name="entry.761414804" value="I am married" /> I am married
            </div>
            <div>
              <input type="checkbox" name="entry.761414804" value="I have children" /> I have children
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <label>Check all that apply:</label>
            <p>I would like...</p>
            <div>
              <input type="checkbox" name="entry.1286053849" value="to receive the weekly newsletter"> to receive the weekly newsletter
            </div>
            <div>
              <input type="checkbox" name="entry.1286053849" value="to join a community group"> to join a community group
            </div>
            <div>
              <input type="checkbox" name="entry.1286053849" value="to be contacted by a pastor"> to be contacted by a pastor
            </div>
            <div>
              <input type="checkbox" name="entry.1286053849" value="to serve"> to serve
            </div>
            <div>
              <input type="checkbox" name="entry.1286053849" value="a ride"> a ride
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <label>How did you hear about us?</label>
            <input type="text" class="form-control" name="entry.876723727" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <label>Comments and questions</label>
            <textarea class="form-control" rows="5" name="entry.1578565088"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>