---
layout: default
title: Home 
---

<div class="row">
  <div class="col-sm-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="http://christcentralsf.com/files/sermons/2018/ccpc_2018-09-09.mp3" target="_blank">
            <img src="/assets/images/carousel/IMG_christcentral-eachonereachone-1170x600px-1.png" title="Christ Central 2018-2019: Each One Reach One"/>
          </a>
        </div>
        <div class="item">
          <a href="https://christcentralsf.churchcenter.com/groups/christ-central-community-groups" target="_blank">
            <img src="/assets/images/carousel/CG_Remake_Website.png" title="Community Group Signup"/>
          </a>
        </div>
        <div class="item">
          <a href="/rsvp/missionsnight" target="_blank">
            <img src="/assets/images/carousel/IMG_christcentral-missionnight2018-1170x600px-1.jpg" title="Missions Night 2018"/>
          </a>
        </div>
        <div class="item">
          <img src="/assets/images/carousel/IMG_christcentral-fallfestival2018-1170x600px.png" title="Fall Festival"/>
        </div>
        <div class="item">
          <a href="/truenorth" target="_blank">
            <img src="/assets/images/events/IMG_christcentral-truenorth-1170x600px-1.png" title="Christ Central Retreat 2018"/>
          </a>
        </div>
        <div class="item">
          {% assign isFirstPostDisplayed = true %}
            {% for post in site.posts %}
              {% if post.date <= site.time and isFirstPostDisplayed %}
                <a href="/files/sermons/{{ post.date | date: '%Y' }}/ccpc_{{ post.date | date: '%Y-%m-%d' }}{% if post.sermonNumber %}-{{ post.sermonNumber }}{% endif %}.mp3" target="_blank" id="sermon">
                  <div class="background">
                    <img src="http://fpoimg.com/1170x600"/>
                  </div>
                  <div class="layer">
                    <h2>{{ post.sermon }}</h2>
                    <p>Listen</p>
                  </div>
                </a>
              {% assign isFirstPostDisplayed = false %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<hr/>

<div class="row" id="visiting">
  {% include parking.html %}
</div>

<hr/>

<div class="row" id="vision">
  <div class="col-sm-12">
    <p class="quote">As a church we exist to proclaim the gospel of Jesus Christ, to be a Christ-centered community and to fulfill the Great Commission in the Bay Area and the world for the glory of God.</p>
  </div>
</div>

<hr/>

<div class="row" id="core-values">
  <div class="col-md-4">
    <h2 class="quote">I</h2>
    <h3>God-glorifying worship</h3>
    <p>We strive to have a healthy Sunday worship that focuses on glorifying God through praise and Christ-centered preaching. Worship will provide the additional benefit of encouraging everyone with a blessing and challenge as they start the work week.</p>
  </div>
  <div class="col-md-4">
    <h2 class="quote">II</h2>
    <h3>Gospel movement</h3>
    <p>Our church will push its members to have an evangelistic lifestyle in order to actively fulfill the Great Commission in the Bay Area and beyond. A church that does not share the Gospel is a church that does not experience the joy and satisfaction of knowing God.</p>
  </div>
  <div class="col-md-4">
    <h2 class="quote">III</h2>
    <h3>Genuine personal community</h3>
    <p>One of the biggest strengths of our church throughout the years has been our ability to foster a community. Community groups offer small, Christ-centered gatherings for weekday reflection, fellowship and accountability, and a smaller setting for sharing Christ with seekers.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2 class="quote">IV</h2>
    <h3>Discipleship</h3>
    <p>The Apostle Paul describes the pursuit of holiness is similar to an athlete in training. We will strive to offer substantive spiritual training through mentorships with others. Creating disciples will also seed future disciplers, creating a pattern of healthy, organic growth in our church.</p>
  </div>
  <div class="col-md-4">
    <h2 class="quote">V</h2>
    <h3>Christian service</h3>
    <p>God's love is meant to be given to others. Loving our neighbors through loving volunteerism and social justice is an important expression of God's love by the church.</p>
  </div>
  <div class="col-md-4">
    <h2 class="quote">VI</h2>
    <h3>Active church planting</h3>
    <p>As we grow, we want to continue to reach the Bay Area through planting churches. A particularized church with its own pastors and board of elders will be best equipped to minister to its members in that region, encouraging ministry that's more localized to where the members live and work. We also believe that having too large of a congregation can be an obstacle to the core value of having genuine community.</p>
  </div>
</div>

<hr/>

<div class="row hidden-xs hidden-sm hidden-md" id="promo">
  <div class="col-md-12">
    <iframe width="100%" height="625" src="https://www.youtube.com/embed/ApeqpZ61IvI?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<hr class="hidden-xs hidden-sm hidden-md"/>

<div class="row">
  <div class="col-md-12" id="pastors">
    <h2 class="quote">We exist to proclaim the gospel of Jesus Christ</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Pastor Benjamin Kim</h3>
    <p>Ben is happily married to Hetty, and they have two wonderful children, Kylee and Marcus, who remind them of God's amazing grace. He enjoys good books, most sports, good food, and spending time with his family. His simple goal in life is to preach Christ and Him crucified. He received his M.Div. from <a href="https://www.wscal.edu/" target="_blank">Westminster Seminary CA</a> and was ordained by the <a href="http://www.kapc.org/" target="_blank">KAPC</a> in 2000.</p>
  </div>
  <div class="col-md-4">
    <h3>Pastor In Kim</h3>
    <p>In was raised in Santa Barbara, California. He graduated with a BA in English from <a href="http://westmont.edu/" target="_blank">Westmont College</a> in 2004 and worked for Special Needs education through 2007. In pursued his internal call to pastoral ministry at <a href="https://www.wscal.edu/" target="_blank">Westminster Seminary CA</a>, where he received his M.Div. in 2011. His interests include attending live concerts, playing soccer and appreciating God's common grace.</p>
  </div>
  <div class="col-md-4">
    <h3>Pastor Simon Yang</h3>
    <p>Born in Korea, raised in New Zealand, Simon considers his home Houston, where he grew up since 3rd Grade. He graduated from the <a href="https://www.utexas.edu/" target="_blank">UT Austin</a> with a business degree before receiving his M.Div. at <a href="https://www.wscal.edu/" target="_blank">Westminster Seminary CA</a>. His beautiful wife, Rachel is an RN, and they have two boys, Eliab and Tobias. Simon enjoys basketball and football, and is a big fan of <a href="https://images-cdn.9gag.com/photo/aZMArd0_700b.jpg" target="_blank">Justin Timberlake</a>.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Pastor Jason Lim</h3>
    <p>Jason was born and raised in Seattle where it rains less than people are conditioned to think. He is wed to Christy who is a clinical pharmacist. He received his M.Div. from <a href="https://www.covenantseminary.edu/" target="_blank">Covenant Theological Seminary</a> in 2014 and was ordained by the KAPC in 2017. In his spare time, he enjoys reading, blogging, eating, and belting out Boyz II Men hits.</p>
  </div>
</div>

<hr/>

<div class="row" id="ministries">
  <div class="col-md-12">
    <h2 class="quote">We exist to be a Christ-centered community</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <h3>Ministry Groups</h3>
    <div class="table-responsive">
      {% include ministry-groups.html classNames="table" %}
      <p><a class="btn btn-primary" href="https://christcentralsf.churchcenter.com/groups/life-stage-ministries">Join a ministry</a></p>
    </div>
  </div>
  <div class="col-lg-6">
    <h3>Community Groups</h3>
    <div class="table-responsive">
      {% include community-groups.html classNames="table" %}
      <p><a class="btn btn-primary" href="https://christcentralsf.churchcenter.com/groups/community-groups">Join a community</a></p>
    </div>
  </div>
</div>

<hr/>

<div class="row" id="missions">
  <div class="col-md-12">
    <h2 class="quote">We exist to fulfill the Great Commission</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Reaching Our Community</h3>
    <p>Every Saturday we serve our local community by offering free tutoring.</p>
  </div>
  <div class="col-md-4">
    <h3>Short Term Missions</h3>
    <p>Every summer, we send a team to Cambodia for overseas missions.</p>
  </div>
  <div class="col-md-4">
    <h3>Long Term Missionaries</h3>
    <ul>
      <li>Mark &amp; Megumi Bocanegra in Japan</li>
      <li>B &amp; A in Indonesia</li>
      <li>Paul &amp; Susan Lee in Cambodia</li>
      <li>Tim &amp; Moon Sook Lim in Cambodia</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>LifeMoves</h3>
    <p><a href="https://lifemoves.org/" target="_blank">LifeMoves</a> is dedicated to providing interim housing and supportive services that create opportunities for homeless families and individuals to rapidly return to stable housing and long-term self-sufficiency.</p>
  </div>
  <div class="col-md-4">
    <h3>Freedom House</h3>
    <p><a href="http://www.freedomhousesf.org/" target="_blank">Freedom House</a> is a non-profit organization with a mission to bring hope, restoration, and a new life to survivors of human trafficking by providing a safe home and long-term aftercare.</p>
  </div>
  <div class="col-md-4">
    <h3>Open Door</h3>
    <p><a href="http://todm.org/" target="_blank">Open Door</a> is a Gospel Rescue Mission committed to breaking the cycle of homelessness and poverty.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p><a class="btn btn-primary" href="https://christcentralsf.churchcenter.com/groups/service">Serve with us</a></p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-12">
    <p><a href="/history">Learn more</a> about how we got here.</p>
  </div>
</div>
