---
layout: default
title: Home 
---

<div class="row mb90">
  <div class="col-md-12 relative">
    <img src="/assets/images/header_banner.png" />
    <h1 class="header-banner-title absolute">
      Bay Area church<br/>For the glory of God
    </h1>
  </div>
</div>

<div class="row mb90">
  <div class="col-md-10 col-md-offset-1 text-center">
    <h2>
      As a church we exist to proclaim the gospel of Jesus Christ, to be a Christ-centered community and to fulfill the Great Commission in the Bay Area and the world for the glory of God.
    </h2>
    <button class="btn btn-primary" data-toggle="modal" data-target="#video" href="#">Watch video</button>
  </div>
</div>

<div class="row mb90">
  <div class="col-md-12">
    <img src="/assets/images/9thanniversary_v04.png" />
  </div>
</div>

{% include pillars.html %}

{% include join-us.html %}

<div class="row mb90 two-columns">
  <div class="col-md-8 mb60">
    <img src="/assets/images/belong.png" />
  </div>
  <div class="col-md-4 flex__align-self--center">
    <h2>Belong</h2>
    <p>
      <strong>Real people. Genuine connections.</strong>
    </p>
    <p>From working professionals to parents. From nursery to post-grad. From casual fellowshipping to theology discussions. Discover a place to belong at Christ Central.</p>
      <ul style="padding-left: 15px;">
        <li>Family Life Ministry</li>
        <li><a href="https://christcentralsf.churchcenter.com/groups/christ-central-fellowship-groups/adults-ministry">Adult Ministry</a></li>
        <li>College Ministry (<a href="https://www.christcentralsf.com/ficb/">Berkeley</a>)</li>
        <li>Youth Group</li>
        <li>Education Ministry</li>
      </ul>
    <a href="https://christcentralsf.churchcenter.com/groups">Find a group</a>
  </div>
</div>

<div class="row mb90 two-columns">
  <div class="col-md-4 flex__align-self--center mb60">
    <h2>Grow</h2>
    <p>
      <strong>Equipping your spiritual walk.</strong>
    </p>
    <p>Christ Central’s whole ministry aims to make mature and equipped followers of Jesus Christ. We offer regular classes and counseling for anyone with questions or support. </p>
    <p>
      <a href="https://www.christcentralsf.com/discipleship/">Sign up for discipleship</a>
    </p>
    <p>
      <a href="https://www.christcentralsf.com/counseling//">Get counseling</a>
    </p>
  </div>
  <div class="col-md-8">
    <img src="/assets/images/grow.png" />
  </div>
</div>

<div class="row mb90 two-columns">
  <div class="col-md-8 mb60">
    <img src="/assets/images/bless.png" />
  </div>
  <div class="col-md-4 flex__align-self--center">
    <h2>Bless</h2>
    <p>
      <strong>Love our neighbors. Love the world.</strong>
    </p>
    <p>Join us monthly as we partner with various Bay Area organizations to serve our local community and fight homelessness. We also partner with international missionaries to further the gospel in countries like Cambodia and Paraguay.</p>
    <a href="https://christcentralsf.churchcenter.com/groups/christ-central-serving">Find an event</a>
  </div>
</div>
