---
layout: print
title: Program
logo: true
---


{% for post in site.posts limit:1 %}
  <div class="front page">
    {% include program-header.html %}
    {% include program-sunday-worship.html %}
    <!-- {% include program-offering.html %} -->
    <!-- {% include program-connect.html %} -->
    <div id="song">
      <div class="row">
        <div class="col-md-12">
          <p>How Great is Our God</p>
          <p> The splendor of a King, Clothed in majesty <br/> Let all the earth rejoice, All the earth rejoice <br/> He wraps Himself in light, And darkness tries to hide <br/> And trembles at His voice, Trembles at His voice <br/> How great is our God, Sing with me <br/> How great is our God, And all will see <br/> How great, how great is our God <br/> Age to age He stands, And time is in His hands <br/> Beginning and the end, Beginning and the end <br/> The Godhead Three in One, Father, Spirit, Son <br/> The Lion and the Lamb, The Lion and the Lamb <br/> How great is our God, Sing with me <br/> How great is our God, And all will see <br/> How great, how great is our God <br/> Name above all names, Worthy of our praise <br/> My heart will sing, How great is our God</p>
        </div>
      </div>
    </div>
  </div>
  <div class="back page">
    <!-- {% include program-announcements.html %} -->
    <div id="song">
      <div class="row">
        <div class="col-md-12">
          <p>This I Believe (The Creed)</p>
          <p>For I believe, in the name of Jesus""Our Father everlasting, The all creating One, God Almighty <br/> Through Your Holy Spirit, Conceiving Christ the Son, Jesus our Savior <br/> I believe in God our Father, I believe in Christ the Son, I believe in the Holy Spirit <br/> Our God is three in one <br/> I believe in the resurrection, That we will rise again <br/> For I believe in the name of Jesus <br/> Our Judge and our Defender, Suffered and crucified, Forgiveness is in You <br/> Descended into darkness, You rose in glorious life, Forever seated high""  I believe in You <br/> I believe in life eternal, I believe in the virgin birth <br/> I believe in the saints' communion, And in Your holy Church <br/> I believe in the resurrection, When Jesus comes again <br/> For I believe, in the name of JesusI <br/> I believe in You, I believe You rose again <br/> I believe that Jesus Christ is Lord</p>
          <p>Because He Lives</p>
          <p>God sent His son, they called Him, Jesus; He came to love, heal and forgive; <br/> He lived and died to buy my pardon, An empty grave is there to prove my Savior lives! <br/> Because He lives, I can face tomorrow, Because He lives, all fear is gone, <br/> Because I know He holds the future, And life is worth the living, Just because He lives! <br/> How sweet to hold a newborn baby, And feel the pride and joy he brings; <br/> But greater still the calm assurance: This child can face uncertain days because He Lives! <br/> And then one day, I'll cross the river, I'll fight life's final war with pain; <br/> And then, as death gives way to victory, I'll see the lights of glory and I'll know He lives!</p>
          <p>It Is Well With My Soul</p>
          <p>When peace like a river attendeth my way, When sorrows like sea billows roll <br/> Whatever my lot, Thou hast taught me to say, It is well, it is well with my soul <br/> Though Satan should buffet, though trials should come, Let this blest assurance control <br/> That Christ hath regarded my helpless estate, And hath shed His own blood for my soul <br/> It is well with my soul, It is well, it is well with my soul <br/> My sin, oh, the bliss of this glorious thought, My sin, not in part but the whole <br/> Is nailed to the cross, and I bear it no more, Praise the Lord, it is well with my soul <br/> It is well with my soul, It is well, it is well with my soul <br/> And Lord, haste the day when my faith shall be sight, The clouds be rolled back as a scroll <br/> The trump shall resound, and the Lord shall descend, Even so, it is well with my soul  <br/> It is well with my soul <br/> It is well, it is well with my soul, It is well, it is well with my soul</p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}