---
layout: print
title: Program
logo: true
---


{% for post in site.posts limit:1 %}
  <div class="front page">
    {% include program-header.html %}
    {% include program-sunday-worship.html %}
    {% include program-offering.html %}
    {% include program-connect.html %}
  </div>
  <div class="back page">
    {% include program-announcements.html %} <!-- Print announcements on back -->

	  <div id="qr-code">
      <hr/>
      <div class="row">
        <div class="col-md-12">
          <h2 class="quote">Online Program</h2>
          <p><strong>Scan this QR code</strong> with your phone to load the latest interactive program in your browser or navigate to <strong>christcentralsf.com/program</strong> and bookmark it.</p>
          <img src="/assets/images/qr-code.png"/>
        </div>
      </div>
    </div>

  </div>
{% endfor %}