---
layout: default
title: News
---

<h1>{{ page.title }}</h1>
<div id="news">
  <div class="row">
    <div class="col-sm-12">
    {% assign isFirstPostDisplayed = true %}
    {% for post in site.posts %}
      {% if post.date <= site.time and isFirstPostDisplayed %}
        {{ post.content }}
        <p class="updated">Updated {{ post.date | date: '%B %d, %Y' }}</p>
        {% assign isFirstPostDisplayed = false %}
      {% endif %}
    {% endfor %}

    {% for post in site.posts %}
      {% if forloop.first %}
        <p><a href="{{ post.url }}">Print version &raquo;</a></p>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
