---
layout: default
title: News
---

<h1>{{ page.title }}</h1>
<div id="news">
  <div class="row">
    <div class="col-sm-12">
    {% assign isFirstPostDisplayed = true %}
    {% for post in site.posts %}
      {% comment %} if post.date <= site.time and isFirstPostDisplayed {% endcomment %}
      {% if isFirstPostDisplayed %}
        <p>Announcements for Sunday, {{ post.date | date: '%B %-d, %Y' }}</p>
        {{ post.content }}
        {% assign isFirstPostDisplayed = false %}
      {% endif %}
    {% endfor %}

    {% for post in site.posts %}
      {% if forloop.first %}
        <p class="updated"><a href="{{ post.url }}">View this Sunday's printable program &raquo;</a></p>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
