<table class="{{ include.classNames }}">
  <thead>
    <tr>
      <th class="col-md-3">Location</th>
      <th class="col-md-1">Day</th>
      <th class="col-md-1">Time</th>
      <th class="col-md-7">Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>N.Oakland/B/E</td><td>Wed</td><td>7:00pm</td><td><a href="mailto:nobe-cg@christcentralsf.com">nobe-cg@christcentralsf.com</a></td></tr>
    <tr><td>Oakland</td><td>Thurs</td><td>7:00pm</td><td><a href="mailto:oakland-cg@christcentralsf.com">oakland-cg@christcentralsf.com</a></td></tr>
    <tr><td>Alameda</td><td>Sun</td><td>2:00pm</td><td><a href="mailto:alameda-cg@christcentralsf.com">alameda-cg@christcentralsf.com</a></td></tr>
    <tr><td>SF SOMA</td><td>Thurs</td><td>7:00pm</td><td><a href="mailto:soma-cg@christcentralsf.com">soma-cg@christcentralsf.com</a></td></tr>
    <tr><td>SF Civic Ctr.</td><td>Wed</td><td>7:30pm</td><td><a href="mailto:civiccenter-cg@christcentralsf.com">civiccenter-cg@christcentralsf.com</a></td></tr>
    <tr><td>SF Sunset</td><td>Sun</td><td>5:00pm</td><td><a href="mailto:sunset-cg@christcentralsf.com">sunset-cg@christcentralsf.com</a></td></tr>
    <tr><td>Hillside SSF</td><td>Thurs</td><td>7:00pm</td><td><a href="mailto:hillsidessf-cg@christcentralsf.com">hillsidessf-cg@christcentralsf.com</a></td></tr>
    <tr><td>Millbrae</td><td>Thurs</td><td>7:30pm</td><td><a href="mailto:millbrae-cg@christcentralsf.com">millbrae-cg@christcentralsf.com</a></td></tr>
    <tr><td>SSF</td><td>Fri</td><td>7:00pm</td><td><a href="mailto:ssf-cg@christcentralsf.com">ssf-cg@christcentralsf.com</a></td></tr>
    <tr><td>Burlingame</td><td>Sun</td><td>2:00pm</td><td><a href="mailto:burlingame-cg@christcentralsf.com">burlingame-cg@christcentralsf.com</a></td></tr>
    <tr><td>Sunnyvale</td><td>Thurs</td><td>7:30pm</td><td><a href="mailto:sunnyvale-cg@christcentralsf.com">sunnyvale-cg@christcentralsf.com</a></td></tr>
    <tr><td>UC Berkeley</td><td>Varies</td><td>Varies</td><td><a href="mailto:college@christcentralsf.com">college@christcentralsf.com</a></td></tr>
  </tbody>
</table>
