<table class="{{ include.classNames }}">
  <thead>
    <tr>
      <th class="col-md-3">Location</th>
      <th class="col-md-1">Day</th>
      <th class="col-md-1">Time</th>
      <th class="col-md-7">Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Oakland</td><td>Thursdays</td><td>7:00pm</td><td><a href="mailto:oakland-cg@christcentralsf.com">oakland-cg@christcentralsf.com</a></td></tr>
    <tr><td>Alameda</td><td>Thursdays</td><td>7:30pm</td><td><a href="mailto:alameda-cg@christcentralsf.com">alameda-cg@christcentralsf.com</a></td></tr>
    <tr><td>SF Potrero</td><td>Thursdays</td><td>7:30pm</td><td><a href="mailto:potrero-cg@christcentralsf.com">potrero-cg@christcentralsf.com</a></td></tr>
    <tr><td>SF Japantown</td><td>Thursdays</td><td>7:30pm</td><td><a href="mailto:japantown-cg@christcentralsf.com">japantown-cg@christcentralsf.com</a></td></tr>
    <tr><td>SF Sunset</td><td>Sundays</td><td>5:00pm</td><td><a href="mailto:sunset-cg@christcentralsf.com">sunset-cg@christcentralsf.com</a></td></tr>
    <tr><td>Daly City</td><td>Fridays</td><td>7:30pm</td><td><a href="mailto:dalycity-cg@christcentralsf.com">dalycity-cg@christcentralsf.com</a></td></tr>
    <tr><td>San Bruno</td><td>Thursdays</td><td>7:30pm</td><td><a href="mailto:sanbruno-cg@christcentralsf.com">sanbruno-cg@christcentralsf.com</a></td></tr>
    <tr><td>Burlingame</td><td>Sundays</td><td>2:00pm</td><td><a href="mailto:burlingame-cg@christcentralsf.com">burlingame-cg@christcentralsf.com</a></td></tr>
    <tr><td>South Bay</td><td>Thursdays</td><td>7:30pm</td><td><a href="mailto:southbay-cg@christcentralsf.com">southbay-cg@christcentralsf.com</a></td></tr>
    <tr><td>UC Berkeley</td><td>Various</td><td>Various</td><td><a href="mailto:college@christcentralsf.com">college@christcentralsf.com</a></td></tr>
  </tbody>
</table>
