<table class="{{ include.classNames }}">
  <thead>
    <tr>
      <th>Community group</th>
      <th>Location</th>
      <th>Day</th>
      <th>Time</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>East Bay</td><td>Oakland</td><td>Thursday</td><td>7:00pm</td><td>Tommy Lee, Sam Min</td></tr>
    <tr><td>East Bay</td><td>Alameda</td><td>Thursday</td><td>7:30pm</td><td>Ryan Shim, Justine Song</td></tr>
    <tr><td>San Francisco</td><td>Sunset</td><td>Sunday</td><td>5:00pm</td><td>Ike Ku, Jen Ku</td></tr>
    <tr><td>San Francisco</td><td>Potrero Hill</td><td>Thursday</td><td>7:00pm</td><td>Jane Lee, Peter Hwang</td></tr>
    <tr><td>San Francisco</td><td>Japantown</td><td>Thursday</td><td>7:30pm</td><td>In Cho, Jayne Cho, Aryun Kim</td></tr>
    <tr><td>Peninsula</td><td>Burlingame</td><td>Sunday</td><td>2:00pm</td><td>Eddie Lee, Junie Lee</td></tr>
    <tr><td>Peninsula</td><td>San Bruno</td><td>Thursday</td><td>7:30pm</td><td>Michael Kim, Malissa Karpman, Joel Lee, Sarah Lee</td></tr>
    <tr><td>Peninsula</td><td>Daly City</td><td>Friday</td><td>7:30pm</td><td>Mike Hong, Karen Hong</td></tr>
    <tr><td>South Bay</td><td>Cupertino</td><td>Thursday</td><td>7:30pm</td><td>Kwan Jun, Hannah Jun</td></tr>
  </tbody>
</table>
