<!DOCTYPE html>
<html>
  <head>
    <title>Christ Central</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Christ Central. As a church we exist to proclaim the gospel of Jesus Christ, to be a Christ-centered community and to fulfill the Great Commission in the Bay Area and the world for the glory of God." />
    <meta name="keywords" content="" />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css?{{ site.time | date_to_xmlschema }}"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/jquery.dynatable.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8"> 
  </head>
  <body id="page-{{ page.title }}">
    <div class="announcement">
      <strong>Important: Starting April 2023, Christ Central’s Peninsula location has moved to Millbrae Recreation Center and is no longer in Daly City.</strong>
    </div>
    <div class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-inner">
          <a class="logo pull-left" href="/" title="Christ Central">
            <img class="pull-left" src="/assets/images/logo.svg" />
          </a>
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
              <li><a href="/" {% if page.title == "Home" %}class="active"{% endif %}>Home</a></li>
              <li><a href="/resources?sorts[sortDate]=-1" {% if page.title == "Resources" %}class="active"{% endif %}>Resources</a></li>
              <li><a href="/connect">Connect</a></li>
              <li><a href="/whygive"">Give</a></li>
              <li><a href="/about" {% if page.title == "About" %}class="active"{% endif %}>About</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
