<div class="row">
  <div class="col-md-4">
		<h1>Join us for Sunday service</h1>
  </div>
  <div class="col-md-3 col-md-offset-2">
    <h2>Peninsula</h2>
    <p>
      699 Serramonte Blvd<br/>
      Daly City, CA 94015
    </p>
    <p>11:15AM</p>
  </div>
  <div class="col-md-3">
    <h2>East Bay</h2>
    <p>
      1821 Catalina Ave<br/>
      Berkeley, CA  94707
    </p>
    <p>9:30AM</p>
  </div>
</div>
<div class="row">
  <div class="col-md-5 safety">
    <p><strong>Your Safety at Christ Central</strong></p>
    <p>Your safety is our primary concern. We will continue to follow the CDC guidelines to provide a safe environment for our in-person worship. In addition, we will continue to mandate masks, regardless of the vaccination status, in our worship service.</p>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <h2>Online</h2>
    <p>If you're not yet comfortable joining us in person, we welcome you to join us online from anywhere!</p>
    <a class="btn btn-primary" href="https://www.twitch.tv/christcentralsf">Join our Sunday livestream</a>
  </div>
</div>
