<div class="row mb90">
  <div class="col-md-4 worship-item flex flex-column flex-justify-center">
    <p>Worship</p>
    <h2>
      Two campuses.<br/>
      One family.
    </h2>
    <p>Join us every week at either of our campuses as we gather together for worship through Christ-centered preaching and praise.</p>
    <a href="https://www.twitch.tv/christcentralsf">Watch live</a>
  </div>
  <div class="col-md-4 worship-item">
    <img class="mb15" src="/assets/images/east_bay.png" />
    <h3 class="mb0">East Bay</h3>
    <p>9:30AM</p>
    <p>
      Thousand Oaks Baptist Church<br/>
      1821 Catalina Ave, Berkeley, CA  94707
    </p>
  </div>
  <div class="col-md-4 worship-item">
    <img class="mb15" src="/assets/images/peninsula.png" />
    <h3 class="mb0">Peninsula</h3>
    <p>11:15AM</p>
    <p>
      Jefferson Adult School<br/>
      699 Serramonte Blvd, Daly City, CA 94015
    </p>
  </div>
</div>