<div class="row">
  <div class="col-md-4">
		<h1>Join us for Sunday service</h1>
  </div>
  <div class="col-md-3 col-md-offset-2">
    <div class="flex">
      <h3>East Bay</h3>
      <p class="ml15 time">9:30AM</p>
    </div>
    <p>
      1821 Catalina Ave<br/>
      Berkeley, CA  94707
    </p>
    <p class="text-muted">
      Please enter through the entrance closest to Colusa Ave
    </p>
  </div>
  <div class="col-md-3">
    <div class="flex">
      <h3>Peninsula</h3>
      <p class="ml15 time">11:15AM</p>
    </div>
    <p>
      699 Serramonte Blvd<br/>
      Daly City, CA 94015
    </p>
    <p class="text-muted">
      Please enter through Serramonte Blvd
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <a href="/program">Sunday Program</a>
  </div>
  <div class="col-md-6 col-md-offset-1 mt30">
    <div class="flex">
      <h3>Online</h3>
      <p class="ml15 time">11:15AM</p>
    </div>
    <p>If you're not yet comfortable joining us in person, we welcome you to join us online from anywhere!</p>
    <a class="btn btn-primary mt15" href="https://www.twitch.tv/christcentralsf">Join our Sunday livestream</a>
  </div>
</div>
