    <!-- Begin MailChimp Signup Form -->
    <form action="https://Christcentralsf.us18.list-manage.com/subscribe/post?u=605ff712bb42d95831f6190c2&amp;id=9000736d79" method="post" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" novalidate>
      <h3>Stay updated</h3>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_605ff712bb42d95831f6190c2_9000736d79" tabindex="-1" value=""/>
      </div>
      <div class="form-group">
        <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email" />
      </div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
    </form>
    <!--End mc_embed_signup-->
