<table class="{{ include.classNames }}">
  <thead>
    <tr>
      <th>Ministry</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Newcomers</td><td><a href="mailto:newcomers@christcentralsf.com">newcomers@christcentralsf.com</a></td></tr>
    <tr><td>Nursery &amp; Children's Ministry</td><td><a href="mailto:children@christcentralsf.com">children@christcentralsf.com</a></td></tr>
    <tr><td>Youth Ministry</td><td><a href="mailto:youth@christcentralsf.com">youth@christcentralsf.com</a></td></tr>
    <tr><td>College Ministry</td><td><a href="mailto:college@christcentralsf.com">college@christcentralsf.com</a></td></tr>
    <tr><td>Adult Ministry</td><td><a href="mailto:adults@christcentralsf.com">adults@christcentralsf.com</a></td></tr>
    <tr><td>Engaged &amp; Married Ministry</td><td><a href="mailto:couples@christcentralsf.com">couples@christcentralsf.com</a></td></tr>
    <tr><td>Family Life Ministry</td><td><a href="mailto:families@christcentralsf.com">families@christcentralsf.com</a></td></tr>
    <tr><td>Community Group</td><td><a href="mailto:cg@christcentralsf.com">cg@christcentralsf.com</a></td></tr>
    <tr><td>Serving Opportunities</td><td><a href="mailto:office@christcentralsf.com">office@christcentralsf.com</a></td></tr>
  </tbody>
</table>


