<div class="row">
  <div class="col-md-6">
    <p class="quote pt0">Please join us for worship Sundays 9:50 AM</p>
    <p>Drive through the main campus entrance and follow the parking lot around until you see the Christ Central sandwich boards that direct you to the main parking lot closest to our worship facility.</p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3158.19836212051!2d-122.48075638421454!3d37.668046526064806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x808f7b9027d1c293%3A0xa7bf0fe98c4348a3!2s699+Serramonte+Blvd%2C+Daly+City%2C+CA+94015!3m2!1d37.668042299999996!2d-122.4785677!5e0!3m2!1sen!2sus!4v1548895960981" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>