<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="mb30">Please join us for livestream at 10AM on Sunday</h1>
    <!-- Add a placeholder for the Twitch embed -->
    <div id="twitch-embed"></div>

    <!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: "100%",
        height: 625,
        channel: "ChristCentralSF"
      });
    </script>
  </div>
  <!-- <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3158.208589605082!2d-122.47845328401299!3d37.66780617977912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x808f7b8e3333fbbd%3A0xe3545f7847c8dfe7!2sJefferson+Adult+Education%2C+699+Serramonte+Blvd%2C+Daly+City%2C+CA+94015!3m2!1d37.6678062!2d-122.4762646!5e0!3m2!1sen!2sus!4v1549950154717" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div> -->
</div>