<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <p><strong>Ministry Objective</strong></p>
    </div>
    <div class="col-md-8 col-md-offset-2 text-center">
        <h2><strong>Mature & Equipped Followers of Jesus</strong></h2>
    </div>
    <div class="col-md-10 col-md-offset-1 text-center">
        <p>
            Christ Central’s whole ministry aims to make mature and equipped followers of Jesus Christ.  Simply put, we are in the business of making faithful disciples of Jesus.  That’s the goal, that’s the agenda for everyone who is part of Christ Central. What does a mature and equipped follower look like? There are four foundational pillars: Worship, Belong, Grow and Bless.
        </p>
    </div>
</div>
  
<div class="row mb90">
    <div class="col-sm-2 col-md-offset-2 text-center">
        <img class="pillars-icon mb15" src="/assets/icons/icon_worship.png" />
        <h5>Worship</h5>
    </div>
    <div class="col-sm-2 text-center">
        <img class="pillars-icon mb15" src="/assets/icons/icon_belong.png" />
        <h5>Belong</h5>
    </div>
    <div class="col-sm-2 text-center">
        <img class="pillars-icon mb15" src="/assets/icons/icon_grow.png" />
        <h5>Grow</h5>
    </div>
    <div class="col-sm-2 text-center">
        <img class="pillars-icon mb15" src="/assets/icons/icon_bless.png" />
        <h5>Bless</h5>
    </div>
</div>