      <div id="offering">
        <hr/>
        <div class="row">
          <div class="col-md-12">
            <h2 class="quote">Offering</h2>
            <table class="table">
              <tbody>
                <tr>
                  <td>Total Fiscal YTD Inflow</td>
                  <td>{{ post.offeringYTD }}</td>
                </tr>
                <tr>
                  <td>Total Last Month</td>
                  <td>{{ post.offeringMonth }}</td>
                </tr>
                <tr>
                  <td>Total Fiscal Year Budget</td>
                  <td>{{ post.offeringBudget }}</td>
                </tr>
                <tr>
                  <td>Inflow Percent vs. Target</td>
                  <td>{{ post.offeringPercent }} ({{ post.offeringPercentTarget }})</td>
                </tr>
              </tbody>
            </table>
            <p class="mb15"><a class="online btn btn-primary" href="/give">Give</a><span class="print-only">Visit christcentralsf.com/give or text any amount to 84321.</span></p>
          </div>
        </div>
      </div>
