      <div id="connect">
        <hr/>
        <div class="row">
          <div class="col-md-12">
            <h2 class="quote">Connect</h2>
            <p>Please <a class="online" href="mailto:office@christcentralsf.com">email us</a> <span class="print-only">email office@christcentralsf.com</span> if you are new, need a ride, need counseling, want to serve, want to join a life stage ministry or community group, or have questions.</p>
            <p class="mt30 social-media">
              <span class="online">
                <a href="https://www.facebook.com/christcentralsf/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/christcentralsf/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com/christcentralsf" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/christcentralsf" target="_blank"><i class="fab fa-youtube"></i></a>
              </span>
              <span class="print-only">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
                /christcentralsf
              </span>
            </p>
            <p class="subtext mb15 version">
              699 Serramonte Blvd, Daly City, CA 94015<br/>
              Version 8.0.0 &copy; 2014-2022 Christ Central. All rights reserved.
            </p>
            <p>http://christcentralsf.com/</p>
          </div>
        </div>
      </div>
