      <div id="sunday-worship">
        <hr/>
        <div class="row">
          <div class="col-md-4">
            <h2 class="quote">Sunday Worship</h2>
            <ol>
              <li>Call to Worship</li>
              <li>Songs of Wonder &amp; Praise</li>
              <li>New City Catechism</li>
              <li>Prayer of Repentance</li>
              <li>Song of Gratitude &amp; Offering</li>
              <li>
                Offering Prayer
                <span class="subtext">
                  <span class="divider">&cir;</span>
                  Ivy Lee
                </span>
              </li>
              <li>Announcements</li>
              <li>
                Scripture Reading
                <span class="subtext">
                  <span class="divider">&cir;</span>
                  <a class="online" href="https://www.biblegateway.com/passage/?search={{ post.scripture }}&version=ESV">{{ post.scripture }}</a>
                  <span class="print-only">{{ post.scripture }}</span>
                </span>
              </li>
              <li>
                Sermon
                <span class="subtext">
                  <span class="divider">&cir;</span>
                  {{ post.sermon }}<br/>
                  {{ post.series }} Series<br/>
                  {{ post.speaker }}
                </span>
              </li>
              <li>Song of Commitment</li>
              <li>Benediction</li>
              <li>
                <span class="subtext">
                  Lunch service <span class="divider">&cir;</span> Youth Group Boys<br/>
                  Cleanup service <span class="divider">&cir;</span> Oakland CG
                </span>
              </li>
            </ol>
            <p class="mt30 online"><a href="https://open.spotify.com/user/sangkong/playlist/2d4TyIh8pAizSL4XdX3ouk?si=q59M773iQiqAU4pW-BhJ6Q">Listen to our worship set on Spotify</a>.</p>
          </div>
        </div>
      </div>
