      <div id="sunday-worship">
        <hr/>
        <div class="row">
          <div class="col-md-12">
            <h2 class="quote">{{ post.intro }}</h2>
            <ol>
              <li>
                Call to Worship
                <span class="subtext">
                  <span class="divider">&bull;</span>
                  <a class="online" href="https://www.biblegateway.com/passage/?search={{ post.call }}&version=ESV">{{ post.call }}</a>
                  <span class="print-only">{{ post.call }}</span>
                </span>
              </li>
              <li>Songs of Wonder &amp; Praise</li>
              <li>
                Prayer of Repentance
                <span class="subtext">
                  <span class="divider">&bull;</span>
                  <a class="online" href="https://www.biblegateway.com/passage/?search={{ post.repentance }}&version=ESV">{{ post.repentance }}</a>
                  <span class="print-only">{{ post.repentance }}</span>
                </span>
              </li>
              <li>Song of Gratitude</li>
              <li>Offering Prayer</li>
              <li>Announcements</li>
              {% if post.testimony %}
                <li>
                  Stories of Grace
                  <span class="subtext">
                    <span class="divider">&bull;</span>
                    {{ post.testimony }}
                  </span>
                </li>
              {% endif %}
              <li>
                Scripture Reading
                <span class="subtext">
                  <span class="divider">&bull;</span>
                  <a class="online" href="https://www.biblegateway.com/passage/?search={{ post.scripture }}&version=ESV">{{ post.scripture }}</a>
                  <span class="print-only">{{ post.scripture }}</span>
                </span>
              </li>
              <li>
                Sermon
                <span class="subtext">
                  <span class="divider">&bull;</span>
                  {{ post.sermon }}<br/>
                  {% if post.series %}{{ post.series }} Series<br/>{% endif %}
                  {{ post.speaker }}
                </span>
              </li>
              {% if post.baptism %}
                <li>
                  Baptism
                  <div class="subtext">
                    {{ post.baptism }}
                  </div>
                </li>
              {% endif %}
              {% if post.confirmation %}
                <li>
                  Confirmation
                  <span class="subtext">
                    {{ post.confirmation }}
                  </span>
                </li>
              {% endif %}
              {% if post.membership %}
                <li>
                  Membership Installation
                  <p class="subtext">
                    {{ post.membership }}
                  </p>
                </li>
              {% endif %}
              {% if post.communion %}<li>Communion</li>{% endif %}
              <li>Song of Commitment</li>
              <li>Benediction</li>
            </ol>
            <p class="mt30 mb15 online"><a href="https://open.spotify.com/user/sangkong/playlist/2d4TyIh8pAizSL4XdX3ouk?si=q59M773iQiqAU4pW-BhJ6Q">Listen to our worship set on Spotify</a>.</p>
          </div>
        </div>
      </div>
