---
layout: default
title: Resources
---

<div class="row">
  <div class="col-md-12">
    <h2>Resources</h2>
  </div>
</div>

<hr/>

<div class="row" id="news">
  <div class="col-md-12">
    {% include mailchimp.html %}
  </div>
</div>

<hr/>

<div class="row" id="applications">
  <div class="col-md-12">
    <h3>Applications</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-sm-4">Form</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/testimonies" target="_blank">Baptism/Confirmation Testimonies</a></td>
          <td>Read testimonies of our church members</td>
        </tr>
        <tr>
          <td><a href="/rsvp/children" target="_blank">Children's Ministry Registration</a></td>
          <td>Register your child(ren) into our Nursery and Children's Ministry</td>
        </tr>
        <tr>
          <td><a href="/expense" target="_blank">Expense Reimbursement Form</a></td>
          <td>Complete to file expense reimbursement</td>
        </tr>
        <tr>
          <td><a href="/rsvp/educate" target="_blank">Education Ministry Application</a></td>
          <td>Apply to serve Nursery, Children's Ministry, or Youth Ministry</td>
        </tr>
        <tr class="hide">
          <td><a href="/rsvp/premarital">Premarital Counseling Registration</a></td>
          <td>Register for premarital counseling</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-12">
    <h3>Sermons</h3>
    <div class="table-responsive">
      <table id="sermons" class="table table-hover">
        <thead>
          <th class="col-md-1" data-dynatable-sorts="sortDate">Date</th>
          <th class="hidden">SortDate</th>
          <th class="col-md-4">Sermon</th>
          <th class="col-md-2">Scripture</th>
          <th class="col-md-2">Speaker</th>
          <th class="col-md-2" data-dynatable-sorts="series">Series</th>
          <th class="col-md-1" data-dynatable-no-sort="true">Program</th>
        </thead>
      </table>
    </div>
    <p class="mt30"><a href="https://open.spotify.com/user/sangkong/playlist/2d4TyIh8pAizSL4XdX3ouk?si=q59M773iQiqAU4pW-BhJ6Q">Listen to our latest worship set on Spotify.</a></p>
  </div>
</div>

<script>
  var SERMON_FIXTURES = [
  {% for post in site.posts %}
    {% if post.date <= site.time %}
    {
      date: "{{ post.date | date: '%Y.%m.%d' }}",
      sortDate: "{{ post.date | date: '%Y.%m.%d' }}{% if post.sermonNumber %}-{{ post.sermonNumber }}{% endif %}",
      sermon: "{{ post.sermon }}", 
      scripture: "{{ post.scripture }}", 
      speaker: "{{ post.speaker }}", 
      series: "{{ post.series }}",
      mp3: "/files/sermons/{{ post.date | date: '%Y' }}/ccpc_{{ post.date | date: '%Y-%m-%d' }}{% if post.sermonNumber %}-{{ post.sermonNumber }}{% endif %}.mp3",
      pdf: "/files/programs/{{ post.date | date: '%Y' }}/ccpc_{{ post.date | date: '%Y-%m-%d' }}{% if post.sermonNumber %}-{{ post.sermonNumber }}{% endif %}.pdf"
    },
    {% endif %}
  {% endfor %}

  {% include pre-jekyll-sermons.json %}
  ];
</script>

<script src="/assets/js/sermons-json-to-table.js"></script>

<hr/>

<div class="row" id="summer-session">
  <div class="col-md-12">
    <h3>Summer Session 2018</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-sm-11">Session</th>
          <th>Program</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="https://www.youtube.com/watch?v=CrGjxeIAH3w" target="_blank">A Counselor's Humanity</a></td>
          <td align="center"><a href="/files/programs/2018/summer-session-1.pdf" target="_blank"><i class="far fa-file-powerpoint"></i></a></td>
        </tr>
        <tr>
          <td><a href="https://www.youtube.com/watch?v=GdZLkbmWDVA" target="_blank">A Counselor's Process</a></td>
          <td align="center"><a href="/files/programs/2018/summer-session-2.pdf" target="_blank"><i class="far fa-file-powerpoint"></i></a></td>
        </tr>
        <tr>
          <td><a href="https://www.youtube.com/watch?v=V62keVlvWzs" target="_blank">Understanding Depression and Anxiety</a></td>
          <td align="center"><a href="/files/programs/2018/summer-session-3.pdf" target="_blank"><i class="far fa-file-powerpoint"></i></a></td>
        </tr>
        <tr>
          <td><a href="https://www.youtube.com/watch?v=jGCDBUKdUJo" target="_blank">Understanding Conflict, Peacemaking, Forgiveness</a></td>
          <td align="center"><a href="/files/programs/2018/summer-session-4.pdf" target="_blank"><i class="far fa-file-powerpoint"></i></a></td>
        </tr>
        <tr>
          <td><a href="https://www.youtube.com/watch?v=-jWFTkdV0yc" target="_blank">Understanding Addiction and Abuse</a></td>
          <td align="center"><a href="/files/programs/2018/summer-session-5.pdf" target="_blank"><i class="far fa-file-powerpoint"></i></a></td>
        </tr>
        <tr>
          <td><a href="https://www.youtube.com/watch?v=09WGxWf93tE" target="_blank">Wrapping Things Up</a></td>
          <td align="center"><a href="/files/programs/2018/summer-session-6.pdf" target="_blank"><i class="far fa-file-powerpoint"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

