---
layout: default
title: Resources
---

<div class="row">
  <div class="col-md-12">
    <h2>Resources</h2>
  </div>
</div>

<hr/>

<div class="row" id="applications">
  <div class="col-md-12">
    <h2>Applications</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-sm-4">Form</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/rsvp/baptism">Baptism/Confirmation Registration</a></td>
          <td>Register to be baptized or to receive confirmation</td>
        </tr>
        <tr>
          <td><a href="/rsvp/children" target="_blank">Children's Ministry Registration</a></td>
          <td>Register your child(ren) into our 2017-18 Nursery and Children's Ministry</td>
        </tr>
        <tr>
          <td><a href="/rsvp/cg">Community Groups Registration</a></td>
          <td>Register to join a Community Group</td>
        </tr>
        <tr>
          <td><a href="/rsvp/creative">Creative Content Request</a></td>
          <td>Request new creative content</td>
        </tr>
        <tr>
          <td><a href="/expense" target="_blank">Expense Reimbursement Form</a></td>
          <td>Complete to file expense reimbursement</td>
        </tr>
        <tr>
          <td><a href="/rsvp/educate" target="_blank">Education Ministry Application</a></td>
          <td>Apply to serve Nursery, Children's Ministry, or Youth Ministry</td>
        </tr>
        <tr>
          <td><a href="/rsvp/kcpc">KCPC Event Space Reservation</a></td>
          <td>Apply to reserve event space at KCPC</td>
        </tr>
        <tr>
          <td><a href="/rsvp/lifemoves">LifeMoves Registration</a></td>
          <td>Register to serve homeless families in San Mateo with LifeMoves</td>
        </tr>
        <tr>
          <td><a href="/rsvp/istilldo">Marriage Conference Registration</a></td>
          <td>Register to attend the marriage conference</td>
        </tr>
        <tr>
          <td><a href="/rsvp/membership">Membership Registration</a></td>
          <td>Register to become a member of Christ Central</td>
        </tr>
        <tr>
          <td><a href="/rsvp/opendoor">Open Door Registration</a></td>
          <td>Register to serve the homeless in the East Bay</td>
        </tr>
        <tr>
          <td><a href="/rsvp/premarital">Premarital Counseling Registration</a></td>
          <td>Register for premarital counseling</td>
        </tr>
        <tr>
          <td><a href="/rsvp/scholarship">Scholarship Application</a></td>
          <td>Apply for a scholarship if you are a high school, college, or graduate student</td>
        </tr>
        <tr>
          <td><a href="/rsvp/vbs">VBS 2018 Registration: GAME ON!</a></td>
          <td>Register your child for VBS 2018</td>
        </tr>
        <tr>
          <td><a href="/rsvp/volunteer">VBS 2018 Volunteer Registration</a></td>
          <td>Register to volunteer at VBS</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr/>

<div class="row" id="news">
  <div class="col-md-12">
    <h2>News</h2>
    <p>For the latest news, join us on <a href="https://onrealm.org/christcentral" target="_blank">Realm</a>. Email <a href="mailto:office@christcentralsf.com">office@christcentralsf.com</a> for an invitation.</p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-12">
    <h2>Sermons</h2>
    <div class="table-responsive">
      <table id="sermons" class="table table-hover">
        <thead>
          <th class="col-md-1" data-dynatable-sorts="sortDate">Date</th>
          <th class="hidden">SortDate</th>
          <th class="col-md-4">Sermon</th>
          <th class="col-md-2">Scripture</th>
          <th class="col-md-2">Speaker</th>
          <th class="col-md-2" data-dynatable-sorts="series">Series</th>
          <th class="col-md-1" data-dynatable-no-sort="true">Program</th>
        </thead>
      </table>
    </div>
  </div>
</div>

<script>
  var SERMON_FIXTURES = [
  {% for post in site.posts %}
    {% if post.date <= site.time %}
    {
      date: "{{ post.date | date: '%Y.%m.%d' }}",
      sortDate: "{{ post.date | date: '%Y.%m.%d' }}{% if post.sermonNumber %}-{{ post.sermonNumber }}{% endif %}",
      sermon: "{{ post.sermon }}", 
      scripture: "{{ post.scripture }}", 
      speaker: "{{ post.speaker }}", 
      series: "{{ post.series }}",
      mp3: "/files/sermons/{{ post.date | date: '%Y' }}/ccpc_{{ post.date | date: '%Y-%m-%d' }}{% if post.sermonNumber %}-{{ post.sermonNumber }}{% endif %}.mp3",
      pdf: "/files/programs/{{ post.date | date: '%Y' }}/ccpc_{{ post.date | date: '%Y-%m-%d' }}{% if post.sermonNumber %}-{{ post.sermonNumber }}{% endif %}.pdf"
    },
    {% endif %}
  {% endfor %}

  {% include pre-jekyll-sermons.json %}
  ];
</script>

<script src="/assets/js/sermons-json-to-table.js"></script>