@font-face {
  font-family: 'GothamLight';
  src: url('/assets/fonts/Gotham-Light.otf');
}

@font-face {
  font-family: 'GothamMedium';
  src: url('/assets/fonts/Gotham-Medium.otf');
}

body {
  font-family: 'GothamLight', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'GothamMedium', arial, sans-serif;
  font-size: 10pt;
  line-height: 10pt;
  margin: 0 0 10pt 0;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-left: 10pt;
}

p {
  font-size: 8pt;
  margin: 0;
}

table {
  margin-left: 15pt;
  margin-bottom: 10pt;
}

tr {
  border: 0;
}

td {
  font-size: 8pt;
  line-height: 10pt;
  padding: 0;
  padding-right: 10pt;
}

td:last-child {
  padding-right: 0;
}

.print {
  height: 8in;
  /*margin: .25in; */
  /*outline: .25in solid red; */
  overflow: hidden;
  width: 10.5in;
}

.page {
  float: left;
}

.page1, 
.page3 {
margin-left: .5in;
}

.container {
margin: 0;
padding: 0;
width: 5in;
}

th,
td em,
.page3 .passage, 
.page4 .passage,
.liturgy .community-group-questions,
.page4 .community-group-questions,
.liturgy .announcement,
.page3 .announcement {
  display: none;
}

.liturgy h1 {
  font-size: 18pt;
  line-height: 16pt;
}

.liturgy .passage {
  font-size: 6pt;
  margin-bottom: 9pt;
  margin-left: 15pt;
  line-height: 9pt;
}

.liturgy .date,
.liturgy .theme {
  font-size: 8pt;
  margin-bottom: 10pt;
  margin-left: 10pt;
  line-height: 10pt;
}

.liturgy .scripture {
  margin-bottom: 0;
}

.name,
.announcements .prayer {
  margin-bottom: 0;
}

p.community-group-questions,
p.announcement,
.value {
  font-size: 9pt;
  margin-bottom: 10pt;
  margin-left: 15pt;
  line-height: 10pt;
}

.community h1 {
  font-family: 'GothamLight', arial, sans-serif;  
  margin-top: 10pt;
}

.community .push-down {
  height: 6.25in;
  overflow: hidden;
}

.announcements h1 {
  font-size: 14pt;
  line-height: 14pt;
  margin-bottom: 0;
}

.announcements .push-down {
  height: 5.78in; 
  overflow: hidden;
}

.offering {
  margin: 20px 40pt;
}

.offering h2 {
  margin: 0;
}

.offering table {
  margin-left: 0;
}

.offering td {
  padding-right: 5pt;
}

.announcements img {
  margin: 2pt 0 0 10pt;
  width: 150pt;
}

.right-align {
  text-align: right;
}

.page1 img {
  padding-top: 0.3in;
  width: 100%;
}

.hide {
  display: none;
}

.poem {
  font-size: 8pt;
}

.break {
  margin-bottom: 10px;
}

.tab {
  margin-left: 15px;
}