@font-face {
  font-family: 'GothamLight';
  src: url('/assets/fonts/Gotham-Light.otf');
}

@font-face {
  font-family: 'GothamMedium';
  src: url('/assets/fonts/Gotham-Medium.otf');
}

body {
  font-family: 'GothamLight', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'GothamMedium', arial, sans-serif;
  margin: 0;
  text-transform: uppercase;
}

h1  {
  font-size: 40.1pt;
  line-height: 100%;
}

h2 {
  font-family: 'GothamLight', arial, sans-serif;
  font-size: 28.5pt;
  line-height: 12pt;
  margin-bottom: 1in;
}

h3 {
  font-size: 18pt;
  line-height: 16pt;
}

h4 {
  font-size: 14pt;
  line-height: 14pt;
}

h5 {
  font-size: 10pt;
  line-height: 10pt;
}

.spacer {
  margin-bottom: 10pt;
}

.right-align {
  text-align: right;
}

.bottom-align {
  border-top: 2pt solid black;
  bottom: 0;
  padding-top: 10pt;
  position: absolute;
}

.divider {
  border-bottom: 1pt solid #EEE;
  margin-bottom: 10pt;
}

.bold-divider {
  border-bottom: 2pt solid black;
  margin-bottom: 10pt;
  padding-bottom: 20pt;
}


p {
  font-size: 8pt;
  line-height: 10pt;
  margin: 0 0 10pt 5pt;
}

table {
  margin-left: 5pt;
  width: 100%;
}

tr {
  border: 0;
}

th, 
td {
  font-size: 8pt;
  line-height: 10pt;
  padding: 0 10pt 0 0;
}

td:last-child {
  padding-right: 0;
}

.print {
  height: 8.1in;
  /*margin: .25in; */
  /*outline: .25in solid red; */
  overflow: hidden;
  width: 10.5in;
}

.page {
  float: left;
}

.page1, 
.page3 {
  margin-left: .35in;
}

.page3 thead,
.page3 .announcement,
.page4 .community-group-questions {
  display: none;
}

.container {
  height: 8.1in;
  margin: 0;
  padding: 0;
  position: relative;
  width: 5.075in;
}

.announcements .date {
  margin-bottom: 0;
  text-transform: uppercase;
}

.offering {
  margin-bottom: 5pt; 
}

.offering td {
  overflow: hidden;
  padding: 0;
}

.offering span {
  float: left;
  padding-right: 2pt;
}

.offering .dots {
  float: right;
}

.offering table {
  margin-left: 5pt;
}

.offering-col-1 {
  width: 250pt;
}

.offering-col-2 {
  width: 109pt;
}

.servants {
  margin-bottom: 10pt;
}

.servants-col-1 {
  width: 100px
}

.servants-col-2 {
  width: 150px
}

.footer {
  margin-top: 15pt;
}

.footer img {
  margin: 2pt 0 0 0;
  width: 150pt;
}

.footer .address {
  margin-bottom: 0;
}

.cover .front-page-image {
  text-align: center;
}

.cover img {
  width: 70%;
}

.cover .bottom-align {
  border: 0;
}

.cover .date {
  width: 30%;
}

.overview {
  margin: 0;
}

.overview td {
  padding: 10pt 0;
  vertical-align: top;
}

.overview h5 {
  margin-top: 1pt;
}

.overview-row-1 {
  border-bottom: 2pt solid black;
}

.overview-row-2 {
  border-bottom: 1pt solid #EEE;
}

.overview-col-1 {
  width: 25%;
}
