@font-face {
  font-family: 'GothamLight';
  src: url('/assets/fonts/Gotham-Light.otf');
}

@font-face {
  font-family: 'GothamMedium';
  src: url('/assets/fonts/Gotham-Medium.otf');
}

body {
  font-family: 'GothamLight', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'GothamMedium', arial, sans-serif;
  font-size: 10pt;
  line-height: 10pt;
  margin: 0 0 10pt 0;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 0;
}

h2 {
  /*margin-left: 10pt;*/
}

p {
  font-size: 8pt;
  margin: 0;
}

table {
  margin-left: 5pt;
  width: 100%;
}

tr {
  border: 0;
}

th, 
td {
  font-size: 8pt;
  line-height: 10pt;
  padding: 0;
  padding-right: 10pt;
}

th {
  border-bottom: 1px solid #EEE;
  padding-bottom: 1pt;
}

td:last-child {
  padding-right: 0;
}

tr:first-child td {
  padding-top: 2pt;
}

.print {
  height: 8.1in;
  /*margin: .25in; */
  /*outline: .25in solid red; */
  overflow: hidden;
  width: 10.5in;
}

.page {
  float: left;
}

.page1, 
.page3 {
margin-left: .5in;
}

.container {
margin: 0;
padding: 0;
width: 5in;
}

td em,
.page3 .passage, 
.page4 .passage,
.liturgy .community-group-questions,
.page4 .community-group-questions,
.liturgy .announcement,
.page3 .announcement {
  display: none;
}

.liturgy h1 {
  font-size: 18pt;
  line-height: 16pt;
}

.liturgy .passage {
  font-size: 7pt;
  margin-bottom: 9pt;
  margin-left: 5pt;
  line-height: 10pt;
}

.liturgy .date {
  margin-bottom: 10pt;
  margin-left:  5pt;
}

.liturgy .scripture {
  margin-bottom: 5pt;
}

.liturgy .theme {
  font-size: 7pt;
  line-height: 10pt;
  margin-bottom: 10pt;
}

.name,
.announcements .prayer {
  margin-bottom: 0;
}

p.community-group-questions,
p.announcement,
.value {
  font-size: 9pt;
  margin-bottom: 10pt;
  margin-left: 5pt;
  line-height: 10pt;
}

.community h1 {
  font-family: 'GothamLight', arial, sans-serif;  
  margin-top: 10pt;
}

.community th:first-child {
  color: white;
}

.push-down {
  height: 5.62in;
  overflow: hidden;
}

.announcements h1 {
  font-size: 14pt;
  line-height: 14pt;
  margin-bottom: 0;
}

.announcements .push-down {
  height: 5.7in;
  margin-bottom: 20pt;
}

.offering.push-down {
  height: 1.53in;
}

.offering td {
  overflow: hidden;
  padding: 0;
}

.offering span {
  background: white;
  float: left;
  padding-right: 2pt;
}

.offering .dots {
  float: right;
}

.offering h2 {
  margin: 0;
}

.offering table {
  margin-left: 5pt;
}

.offering-col-1 {
  width: 250pt;
}

.offering-col-2 {
  width: 109pt;
}

.lunch-duty {
  margin-bottom: 10pt;
}

.lunch-duty-col-1 {
  width: 125pt;
}

.lunch-duty-col-2 {
  width: 127pt;
}


.announcements img {
  margin: 2pt 0 0 0;
  width: 150pt;
}

.right-align {
  text-align: right;
}

.page1 img {
  padding-top: 0.3in;
  width: 75%;
}

.hide {
  display: none;
}

.poem {
  font-size: 8pt;
}

.break {
  margin-bottom: 10px;
}

.tab {
  margin-left: 15px;
}

.alternate-content {
  margin-left: 0.15in;
}

.invisible {
  visibility: hidden;
}

.cover h1 {
  font-size: 39.5pt;
  line-height: 39.5pt;
}

.cover h2 {
  font-size: 28pt;
  font-family: 'GothamLight', arial, sans-serif;
  line-height: 12pt;
  margin: 0 0 5pt 0;
}

.cover .date {
  margin: 0 0 20pt 2pt;
}

.cover .quote {
  margin: 0 0 0 2pt;
}

.cover .push-down {
  height: 3.89in;
}

.footer {
  margin-top: 15pt;
}