pre {	  
	color: #333;
	font-family: 'GothamLight', arial, sans-serif;
	font-size: 13px;
	line-height: 1.42857143;
	margin: 0 0 10px;
	padding: 9.5px;
}

.corp {
	margin-bottom: 10pt;
}

.announcements .push-down {
	height: 7.7in;
}