/* http://colorschemedesigner.com/#3s31TuK--w0w0 */

@font-face {
  font-family: 'GothamLight';
  src: url('/assets/fonts/Gotham-Light.otf');
}

@font-face {
  font-family: 'GothamMedium';
  src: url('/assets/fonts/Gotham-Medium.otf');
}

body {
  font-family: 'GothamLight', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: 'GothamMedium', arial, sans-serif;
  text-transform: uppercase;
}

h1 {
  margin-top: 30px;
  color: black;
}

h2 {
  font-size: 22px;
}

h3 {
  color: #333;
  font-size: 18px;
}

#news h2,
h4 {
  color: #333;
  font-size: 16px;
}

hr {
  border-color: #DDD;
}

strong {
  font-family: 'GothamMedium', arial, sans-serif;
}

img {
  width: 100%;
}

a, .pagination>li>a {
  color: #0E89B1;
  font-weight: 700;
}

a:hover, .pagination>li>a:hover {
  color: #3393A7; 
}

.pagination>li>span {
  color: #444;
}

.alert {
  background: white;
  border-radius: 0;
  margin-bottom: 0;
}

.alert strong {
  color: #fedb48;
  margin-right: 15px;
  text-transform: uppercase;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
}

.navbar-inner a {
  color: black;
  display: block;
  font-family: 'GothamMedium', arial, sans-serif;
  margin: 0;
}

.navbar-inner .logo {
  min-width: 270px;
  padding: 15px;
  text-transform: uppercase;
}

.navbar-inner img {
  display: block;
  height: 30px;
  margin-right: 10px;
  width: auto;
}

.navbar-inner a:hover {
  text-decoration: none;
}

.navbar li a {
  color: #000;
  font-family: 'GothamMedium', arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  padding: 25px 15px;
  text-transform: uppercase;
}

.navbar li .active,
.navbar li .active:hover,
.navbar li a:hover {
  background: white;
  color: #aaa;
}

.navbar .fa {
  line-height: 20px;
}

.navbar-toggle {
  margin: 15px 5px;
}

.navbar-toggle .icon-bar {
  border: 1px solid #fedb48;
}

.pipe {
  border-right: 1px solid white;
}

.btn-primary {
  background: #fedb48;
  border: 0;
  color: #605e5f;
}

.btn-primary:hover {
  background: #fce854;
  color: #605e5f;
}

.quote {
  color: #605e5f;
  font-size: 32px;
  text-transform: none;
}

.attached-content {
  background: #605E5F;
  padding: 40px;  
  text-align: center;
}

#sermon:hover {
  opacity: .9;
}

#sermon h2 {
  font-size: 65px;
  line-height: normal;
  margin: 0;
  text-transform: capitalize;
}

#sermon h3 {
  color: white;
  font-size: 14px;
  margin: 0 0 20px 0;
}

#sermon a {
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.homepage-announcement-banner {
  margin-top: 10px;
}

#visitors ul {
  padding-left: 16px;
}

#promo iframe {
  height: 480px;
  width: 853px;
}

#history h2 {
  font-size: 14px;
}

#history .col-md-2,
#history .col-md-4,
#history .col-md-6,
#history .col-md-8,
#history .col-md-10 {
  border: 1px solid #DDD;
  border-width: 1px 0 0 1px;
} 

#history .gray {
  background: #EEE;
  height: 200px;
}

#faq .toc,
#faq .col-md-6 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#faq .toc .col-md-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.table-responsive {
  border: 0;
}

.dynatable-search.col-sm-4,
.dynatable-per-page.col-sm-1 {
  display: inline-block;
  float: none;
}

.dynatable-search.col-sm-4 {
  margin-left: -15px;
}

#sermons {
  margin-top: 20px;
}

.pagination {
  margin-top: 0;
}

.dynatable-record-count {
  display: block;
  margin-bottom: 10px;
}

#news .passage, 
#news .community-group-questions {
  display: none;
}

#news h5 {
  font-size: 18px;
  margin: 0;  
}

#news .date {
  margin: 0;  
}

#news p {
  margin: 10px 0 30px;
}

#news .updated {
  margin-top: 30px;
}

label {
  font-weight: normal;
}

footer {
  margin-top: 75px;
  padding: 0 15px;
}

footer ul {
  float: left;
  overflow: hidden;
  margin-right: 10px;
  padding: 0;
}

footer li {
  float: right;
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  margin-left: 5px;
}

footer li:last-child {
  margin-left: 0;
}

.fb-like {
  height: 21px;
  margin: 0;
  width: 82px;
}

footer li a {
  color: #333;
}

footer li a:hover {
  color: #fedb48;
}

footer p {
  float: left;
}

footer .col-md-12 {
  overflow: hidden;
}

.banner {
  background-size: 100%;
}

.event {
  background: white;
  box-shadow: 1px 1px 15px #777;
  margin: 0 0 -213px;
  padding: 10px;
  width: 220px;
}

.event img {
  width: auto;
}

@media (max-width: 1200px) {
  .navbar-collapse {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  #sermon h2 {
    font-size: 50px;
  }

  #promo iframe {
    height: 360px;
    width: 640px;
  }
}

@media (max-width: 768px) {
  .navbar-collapse {
    padding-left: 15px;
  }

  .navbar h1 {
    margin: 0;
  }

  .navbar h1 a {
    font-size: 45px;
    line-height: normal;
    position: absolute;
  }

  .nav > li {
    float: left;
  }

  .pipe {
    border: 0;
  }

  #sermon h2 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .navbar>.container .navbar-brand, 
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
  }
}

.cg-content {
  margin-top: 30px;
}

.cg-content .post-content {
  display: none;
}

