/* 

Christ Central style guide:
https://www.dropbox.com/s/8rrukcasfc5xumy/CCSF_StyleGuide_July2017.pdf?dl=0

*/

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Light.otf');
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Medium.otf');
  font-weight: 700;
}

body {
  font-family: 'Gotham', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

h1 {
  margin-top: 30px;
  color: black;
}

h2 {
  font-size: 22px;
}

h3 {
  color: #444444;
  font-size: 18px;
}

h4 {
  color: #444444;
  font-size: 16px;
}

hr {
  border: 10px solid #FEDB48;
}

img {
  width: 100%;
}

ul {
  padding-left: 16px;
}

a, 
a:hover, 
.pagination>li>a,
.pagination>li>a:hover {
  color: #0E89B1;
  font-weight: 700;
}

.pagination>li>span {
  color: #605E5F;
}

.row {
  margin: 30px 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inner a {
  color: black;
  display: block;
  font-weight: 700
  margin: 0;
}

.navbar-inner .logo {
  line-height: 16px;
  padding: 15px;
  text-transform: uppercase;
  width: 145px;
}

.navbar-inner img {
  display: block;
  height: 30px;
  margin-right: 10px;
  width: auto;
}

.navbar-inner a:hover {
  text-decoration: none;
}

.navbar li a {
  color: #000000;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
}

.navbar-nav li .active,
.navbar-nav li .active:hover,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
  background: transparent;
  color: #AAAAAA;
}

.navbar-toggle {
  margin: 15px 5px;
}

.navbar-toggle .icon-bar {
  border: 1px solid #FCE854;
}

.btn-primary {
  background: #FCE854;
  border: 0;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px; 
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background: #FEDB48 !important;
  color: #000000 !important;
}

.mb0 {
  margin-bottom: 0;
}

.mb15 {
  margin-bottom: 15px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt0 {
  margin-top: 0;
}

.mt15 {
  margin-top: 15px;
}

.mt30 {
  margin-top: 30px;
}

.m60 {
  margin: 60px 0;
}

.quote {
  color: #AAAAAA;
  font-weight: 400;
  font-size: 32px;
  padding: 60px 0;
  text-transform: none;
}

h2.quote {
  padding: 0;
}

p.quote {
  margin-bottom: 0;
}

.pt0 {
  padding-top: 0;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
}

.form-control {
  height: 38px;
}

#sermon {
  display: block;
  position: relative;
  text-decoration: none;
}

#sermon img {
  visibility: hidden;
}

#sermon div {
  height: 100%;
  width: 100%;
}

#sermon .layer {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

#sermon .background {
  background: url(/assets/images/bible.jpg);
  background-size: cover;
  opacity: .65;
}

#sermon h2 {
  font-size: 90px;
  line-height: normal;
  margin: 20px 0 0 0;
  padding: 0 150px;
}

#sermon p {
  font-size: 14px;
  position: absolute;
  top: 30px;
}

#history h2 {
  font-size: 14px;
}

#history .col-md-2,
#history .col-md-4,
#history .col-md-6,
#history .col-md-8,
#history .col-md-10 {
  border: 1px solid #DEDEDE;
  border-width: 1px 0 0 1px;
} 

#history .gray {
  background: #EFEFEF;
  height: 200px;
}

.table-responsive {
  border: 0;
}

.table>tbody>tr>td {
  border: 0;
}

.dynatable-search.col-sm-4,
.dynatable-per-page.col-sm-1 {
  display: inline-block;
  float: none;
}

.dynatable-search.col-sm-4 {
  margin-left: -15px;
}

#sermons {
  margin-top: 20px;
}

.pagination {
  margin-top: 0;
}

.dynatable-record-count {
  display: block;
  margin-bottom: 10px;
}

label {
  font-weight: normal;
}

footer {
  background: #444444;
  border-top: 5px solid #FEDB48;
  color: #FFFFFF;
  margin-top: 90px;
  padding: 60px 30px;
}

footer h3 {
  color: #FFFFFF;
}

footer ul {
  padding: 0;
}

footer li {
  float: left;
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  margin-right: 10px;
}

footer a {
  color: #FEDB48;
}

footer li a {
  color: #FFFFFF;
}

footer a:hover {
  color: #FCE854;
}

.two-column {
  column-count: 2;
}

@media (max-width: 992px) {
  #sermon h2 {
    font-size: 70px;
    padding: 40px;
  }

  .two-column {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right !important;
  }
}

@media (max-width: 768px) {
  #sermon h2 {
    font-size: 28px;
  }
}

@media (max-width: 414px) {
}

.row .special,
.navbar li .special {
  background: #704122;
  border-right: 5px solid #402312;
  color: #FFFFFF;
  font-size: 20px;
  margin: 15px 30px 0 0;
  padding: 10px 15px;
  transform: skew(0deg,-15deg);
}

.row .special:hover,
.navbar li .special:hover {
  background: #FCB400;
  color: #FFFFFF;
}

.row .special {
  border-right: 0;
  font-weight: 700;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  transform: none;
}

.row .special:hover {
  text-decoration: none;
}


/* Program */

#page-Groups hr,
#page-Program hr {
  border-width: 7px;
}

#page-Groups h3 {
  font-size: 14px;
  margin: 0 0 20px 0;
}

#page-Program h3 {
  font-size: 14px;
  margin: 0;
}

#page-Groups .quote,
#page-Program .quote {
  font-size: 18px;
  padding: 0;
}

#page-Program ol {
  font-weight: bold;
  padding: 0;
  text-transform: uppercase;
}

#page-Program li {
  list-style: none;
  margin: 0 0 10px 0;
}

#page-Program .subtext {
  font-size: 11px;
  font-weight: normal;
  white-space: nowrap;
}

#page-Program .divider {
  color: #FEDB48;
}

#page-Program .std {
  display: inline-block;
  width: 45px;
}

#page-Groups .table {
}

#page-Groups th,
#page-Groups td {
  font-size: 11px;
  padding: 2px 8px 2px 0;
}

#page-Program td {
  font-size: 12px;
  padding: 0;
  text-transform: uppercase;
}

#page-Program p {
  font-size: 12.5px;
}

#page-Program .social-media .online {
  font-size: 24px;
}

#page-Groups.print .online,
#page-Program footer,
#page-Program .print-only,
#page-Program.print .online,
#page-Program.print #sunday-worship hr {
  display: none;
}

#page-Program.print .print-only {
  display: inline;
}

#page-Program.print .page {
  float: left;
  width: 4.05in;
}

#page-Program.print .back.page {
  float: right;
  margin-left: .20in;
}

#page-Groups.print .row,
#page-Program.print .row {
  margin: 20px 0;
}

#page-Groups.print h2,
#page-Program.print h2 {
  margin: 15px 0 20px;
}

#page-Groups.print img {
  margin-top: 20px;
  width: 125px;
}

#page-Program.print img {
  margin-bottom: 15px;
  width: 125px;
}

#page-Program.print #connect .version {
  margin-bottom: 0;
}

#page-Program.print #qr-code h2 {
  display: inline-block;
}

#page-Program.print #qr-code img {
  display: inline-block;
  float: right;
  width: 15%;
}

#page-Groups a {
  font-weight: 400;
}

@media print {
  a[href]:after {
    content: none !important;
  }

  .col-lg-6 {
    float: left;
  }
}


/* True North */
#page-TrueNorth hr {
  border: 10px solid #6f9875;
}

#page-TrueNorth .btn-primary {
  background-color: #fff;
  border: 1px solid #6f9875;
  color: #6f9875;
}

#page-TrueNorth .btn-primary:hover {
  background-color: #6f9875 !important;
  color: #fff !important;
}