---
layout: default
title: Education
logo: true
---

<div class="front page">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          {% if page.logo %}<img src="/assets/images/logo.svg" />{% endif %}
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          {% include vision.html %}
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="quote">Christ Central <br/>Education Department Values:</h2>
          <ol>
            <li>We value building a collaborative and relational ministry</li>
            <li>We value teaching young disciples the truth of the gospel</li>
            <li>We value providing a grace-filled environment in fun and nurturing way</li>
            <li>We value equipping young disciples to actively live out their faith in the world</li>
          </ol>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <h4 class="mb0">Nursery Directors: <br/>  Eun-Sook Park, Grace Chang</h4>
          <a class="online" href="mailto:children@christcentralsf.com">children@christcentralsf.com</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Vision: In the nursery ministry, we strive to provide a safe and nurturing environment in which young children can build a foundation of understanding about God.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Structure:</p>
          <table>
            <tr>
              <td class="col-xs-6">0-1 year</td>
              <td class="col-xs-6">Guppies</td>
            </tr>
            <tr>
              <td class="col-xs-6">2-3 years</td>
              <td class="col-xs-6">Tadpoles</td>
            </tr>
            <tr>
              <td class="col-xs-6">3-4 years</td>
              <td class="col-xs-6">Starfish</td>
            </tr>
            <tr>
              <td class="col-xs-6">4-5 years</td>
              <td class="col-xs-6">Seahorse</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="back page">
  <div class="row">
    <div class="col-xs-12">
      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <h4 class="mb0">CM Directors: <br/>Eun-Sook Park, Joyce Kim</h4>
          <a class="online" href="mailto:children@christcentralsf.com">children@christcentralsf.com</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Vision: In the CM ministry, we strive to prepare the soil of kids’ hearts so seeds of faith can grow. We pray that our children will have a true relationship with Jesus.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Structure:</p>
          <table>
            <tr>
              <td class="col-xs-6">K</td>
              <td class="col-xs-6">Goldfish</td>
            </tr>
            <tr>
              <td class="col-xs-6">1st</td>
              <td class="col-xs-6">Pufferfish</td>
            </tr>
            <tr>
              <td class="col-xs-6">2nd</td>
              <td class="col-xs-6">Dolphins</td>
            </tr>
            <tr>
              <td class="col-xs-6">3rd</td>
              <td class="col-xs-6">Sharks</td>
            </tr>
            <tr>
              <td class="col-xs-6">4th</td>
              <td class="col-xs-6">Whales</td>
            </tr>
            <tr>
              <td class="col-xs-6">5th</td>
              <td class="col-xs-6">Divers</td>
            </tr>
          </table>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <h4 class="mb0">Youth Group Pastor: <br/>Jason Lim</h4>
          <a class="online" href="mailto:youth@christcentralsf.com">youth@christcentralsf.com</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Vision: We want to build upon the solid, foundational teachings from Nursery Ministry and CM by continuing to teach sound doctrine and cultivating a Christ-centered community.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Structure:</p>
          <table>
            <tr>
              <td class="col-xs-6">Middle School Girls</td>
              <td class="col-xs-6">6th-8th grade</td>
            </tr>
            <tr>
              <td class="col-xs-6">Middle School Guys</td>
              <td class="col-xs-6">6th-8th grade</td>
            </tr>
            <tr>
              <td class="col-xs-6">High School Girls</td>
              <td class="col-xs-6">9th-12th grade</td>
            </tr>
            <tr>
              <td class="col-xs-6">High School Guys</td>
              <td class="col-xs-6">9th-12th grade</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>