<html>
  <head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>ccpc_{{ page.date | date: '%Y-%m-%d' }}.pdf</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/print2.css"/>
  </head>
  <body>
    <div class="print">
      <div class="page page4 announcements">
        <div class="container">
          <div class="push-down">
            <h1>Announcements</h1>
            <p class="date value">{{ page.date | date: '%B %-d, %Y'}}</p>
            {{ content }}
          </div>
          <div class="offering push-down">
            <h2>Servants</h2>
            <table class="servants">
              <thead>
                <tr>
                  <th class="servants-col-1"></th>
                  <th class="servants-col-2">Lunch</th>
                  <th>Cleanup</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Today</td>
                  <td>{{ page.service }}</td>
                  <td>{{ page.cleanup }}</td>
                </tr>
                {% if page.nextService %}
                <tr>
                  <td>Next Sunday</td>
                  <td>{{ page.nextService }}</td>
                  <td>{{ page.nextCleanup }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>

            <h2>Offering</h2>
            <p class="value">Give donations, offering, and tithing at church or online at christcentralsf.com.</p>
            <table>
              <tr>
                <td class="offering-col-1">
                  <span>Total offering last Sunday</span>
                  <span class="dots">...............................................................................</span>
                </td>
                <td class="offering-col-2">{{ page.offeringLastSunday }}</td>
              </tr>
              {% if page.offeringAdditionalLineItem %}
              <tr>
                <td>
                  <span>{{ page.offeringAdditionalLineItem }}</span>
                  <span class="dots">Adjust dots in print2.html for Additional Line Item.......................</span>
                </td>
                <td>{{ page.offeringAdditionalLineItemInflow }}</td>
              </tr>
              {% endif %}
              {% if page.offeringOnline %}
              <tr>
                <td>
                  <span>Total offering online last month</span>
                  <span class="dots">...................................................................</span>
                </td>
                <td>{{ page.offeringOnline }}</td>
              </tr>
              {% endif %}
              <tr>
                <td>
                  <span>Total offering YTD 2015-2016</span>
                  <span class="dots">........................................................................</span>
                </td>
                <td>{{ page.offeringYTD }} of {{ page.offeringBudget }}</td>
              </tr>
              <tr>
                <td>
                  <span>Offering percent vs. target</span>
                  <span class="dots">.............................................................................</span>
                </td>
                <td>{{ page.offeringPercent }} vs. {{ page.offeringPercentTarget }}</td>
              </tr>
            </table>
          </div>
          <div class="row footer">
            <div class="col-sm-5">
              <img class="name" src="/assets/images/Christ-Central-Presbyterian-Church.png"/>
            </div>
            <div class="col-sm-7 right-align">
              <p>
                50 Northridge Drive, Daly City, CA 94015<br/>
                (650) 550-0071 | http://christcentralsf.com
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="page page1 cover">
        <div class="container">
          <div class="push-down heading">
            <h1>CHRIST CENTRAL</h1>
            <h2>PRESBYTERIAN CHURCH</h2>
            <div class="front-page-image">
              <img src="/assets/images/front-page-full-circle.png"/>
            </div>
          </div>
          <table class="overview">
            <tr class="overview-row-1">
              <td class="date"><p>{{ page.date | date: '%B %-d, %Y'}}</p></td>
              <td class="issue">Volume {{ page.volume }}, Issue {{ page.issue }}</td>
            </tr>
            <tr class="overview-row-2">
              <td><h2>Our Vision</h2></td>
              <td>"As a church we exist to proclaim the gospel of Jesus Christ, to be a Christ-centered community and to fulfill the Great Commission in the Bay Area and the world for the glory of God."</td>
            </tr>
            <tr>
              <td><h2>Our {{ page.date | date: '%Y'}} Theme</h2></td>
              <td>{{ page.theme }}</td>
            </tr>
          </table>
        </div> 
      </div>
    </div>
    <div style="page-break-after: always;"></div>
    <div class="print">
      <div class="page page2 liturgy">
        <div class="container">
          <h1>Order of Worship</h1>
          <p class="date value">{{ page.date | date: '%B %-d, %Y'}}</p>

          <h2 class="name">Christ Central Call to Worship</h2>
          <p class="value">{{ page.call }}</p>
          <h2>Songs of Wonder &amp; Praise</h2>

          <h2 class="name">Prayer of Repentance</h2>
          <p class="value">{{ page.repentance }}</p>
          <h2 class="name">Assurance of Pardon</h2>
          <p class="value">{{ page.assurance }}</p>

          <h2>Song of Gratitude/Offering</h2>
          <h2 class="name">Offering Prayer</h2>
          <p class="value">{{ page.prayer }}</p>

          <h2 class="name">Scripture Reading</h2>
          <p class="value scripture">{{ page.scripture }}</p>
          <!-- {{ content }} -->
          <h2 class="name">Sermon</h2>
          <p class="value">
            &ldquo;{{ page.sermon }}&rdquo; &mdash; {{ page.speaker }}<br/>
          </p> 

          {% if page.hasNewMembers %}
            <h2>Installation of New Members</h2>
            <p class="value">{{ page.newMembersNames }}</p>
          {% endif %}

          {% if page.hasTestimony %}
            <h2 class="name">Testimony</h2>
            <p class="value">{{ page.testimonyNames }}</p>
          {% endif %} 
          
          {% if page.hasBaptism %}
            <h2 class="name">Baptism</h2>
            <p class="value">{{ page.baptismNames }}</p>
          {% endif %}

          {% if page.hasInfantBaptism %}
            <h2 class="name">Infant Baptism</h2>
            <p class="value">{{ page.infantBaptismNames }}</p>
          {% endif %}

          {% if page.hasConfirmation %}
            <h2 class="name">Confirmation</h2>
            <p class="value">{{ page.confirmationNames }}</p>
          {% endif %}      

          {% if page.hasCommunion %}
            <h2>Communion</h2>
          {% endif %}

          <h2>Song of Commitment</h2>
          <h2>Benediction</h2>

          <h2 class="name">Announcements</h2>
          <p class="value">Please refer to the back of this program.</p>
          <h2 class="name">Lunch</h2>
          <p class="value">Please join us in the Fellowship Hall.</p>
        </div>
      </div>
      <div class="page page3 community">
        <div class="container">
          <div class="push-down">
            <h2>Growing Together:<br/>Community Group Questionnaire</h2>
            <h2 class="name">&ldquo;{{ page.sermon }}&rdquo;</h2>
            <p class="value">{{ page.scripture }}</p>
            {{ content }}
          </div>      
          <h2 class="name">Connect</h2>
          <p class="value">Learn about our church, find a ride, join a community group, or join our email distribution list: email info@christcentralsf.com or visit christcentralsf.com.</p>
          <h2 class="name">Community Groups</h2>
          <p class="value">Our church members gather during the week to study the Bible, share fellowship in Christ, prayerfully carry one another's burdens, and give thanks to our God. Register online at christcentralsf.com/applications or email questions to office@christcentralsf.com.</p>
          {% include community-groups.html %}
        </div>
      </div>
    </div>
  </body>
</html>