<html>
  <head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>ccpc_{{ page.date | date: '%Y-%m-%d' }}.pdf</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/print2.css"/>
  </head>
  <body>
    <div class="print">
      <div class="page page4 announcements">
        <div class="container">
          <h4>Announcements</h4>
          <p>{{ page.date | date: '%B %-d, %Y'}}</p>
          {{ content }}
          <div class="bottom-align">
            {% if page.isSundayService %}
              <h5>Serving</h5>
              <table class="servants">
                <tbody>
                  <tr>
                    <td class="servants-col-1">This Sunday</td>
                    <td class="servants-col-2">Lunch: {{ page.service }}</td>
                    <td class="servants-col-3">Cleanup: {{ page.cleanup }}</td>
                  </tr>
                  {% if page.nextService %}
                  <tr>
                    <td>Next Sunday</td>
                    <td>Lunch: {{ page.nextService }}</td>
                    <td>Cleanup: {{ page.nextCleanup }}</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
              
              <div class="divider"></div>
            {% endif %}

            <h5>Offering</h5>
            <table class="offering">
              <tr>
                <td class="offering-col-1">
                  <span>Total offering last Sunday</span>
                  <span class="dots">..............................................................................</span>
                </td>
                <td class="offering-col-2">{{ page.offeringLastSunday }}</td>
              </tr>
              {% if page.offeringAdditionalLineItem %}
              <tr>
                <td>
                  <span>{{ page.offeringAdditionalLineItem }}</span>
                  <span class="dots">................................................................</span>
                </td>
                <td>{{ page.offeringAdditionalLineItemInflow }}</td>
              </tr>
              {% endif %}
              {% if page.offeringOnline %}
              <tr>
                <td>
                  <span>Total offering online last month</span>
                  <span class="dots">..................................................................</span>
                </td>
                <td>{{ page.offeringOnline }}</td>
              </tr>
              {% endif %}
              <tr>
                <td>
                  <span>Total offering YTD 2015-2016</span>
                  <span class="dots">.......................................................................</span>
                </td>
                <td>{{ page.offeringYTD }} of {{ page.offeringBudget }}</td>
              </tr>
              <tr>
                <td>
                  <span>Offering percent vs. target</span>
                  <span class="dots">...........................................................................</span>
                </td>
                <td>{{ page.offeringPercent }} vs. {{ page.offeringPercentTarget }}</td>
              </tr>
            </table>   
            <p>Give donations, offering, and tithing at church or online at christcentralsf.com.</p>

            <div class="row footer">
              <div class="col-sm-5">
                <img class="name" src="/assets/images/Christ-Central-Presbyterian-Church.png"/>
              </div>
              <div class="col-sm-7 right-align">
                <p class="address">
                  50 Northridge Drive, Daly City, CA 94015<br/>
                  (650) 550-0071 | http://christcentralsf.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page page1 cover">
        <div class="container">
          <h1>CHRIST CENTRAL</h1>
          <h2>PRESBYTERIAN CHURCH</h2>
          <div class="front-page-image">
            <img src="/assets/images/front-page-full-circle.png"/>
          </div>
          <div class="bottom-align">
            <table class="overview">
              <tr class="overview-row-1">
                <td class="overview-col-1">{{ page.date | date: '%B %-d, %Y'}}</td>
                <td class="right-align">Volume {{ page.volume }}, Issue {{ page.issue }}</td>
              </tr>
              <tr class="overview-row-2">
                <td><h5>Our Vision</h5></td>
                <td>&ldquo;As a church we exist to proclaim the gospel of Jesus Christ, to be a Christ-centered community and to fulfill the Great Commission in the Bay Area and the world for the glory of God.&rdquo;</td>
              </tr>
              <tr>
                <td><h5>Our Theme</h5></td>
                <td>
                  &ldquo;{{ page.theme }}&rdquo; {{ page.date | date: '%Y'}}<br/>
                  &ldquo;{{ page.themeVerse }}&rdquo; {{ page.themeScripture }}
                </td>
              </tr>
            </table>
          </div> 
        </div> 
      </div>
    </div>
    <div style="page-break-after: always;"></div>
    <div class="print">
      <div class="page page2 liturgy">
        <div class="container">
          <h3>Order of Worship</h3>
          <p>{{ page.date | date: '%B %-d, %Y'}}</p>

          <h5>Christ Central Call to Worship</h5>
          <p>{{ page.call }}</p>

          <h5 class="spacer">Songs of Wonder & Praise</h5>

          <h5>Prayer of Repentance</h5>
          <p>{{ page.repentance }}</p>

          <h5>Assurance of Pardon</h5>
          <p>{{ page.assurance }}</p>

          <h5 class="spacer">Song of Gratitude/Offering</h5>

          <h5>Offering Prayer</h5>
          <p>{{ page.prayer }}</p>

          <h5>Scripture Reading</h5>
          <p class="value scripture">{{ page.scripture }}</p>

          <h5>Sermon</h5>
          <p>&ldquo;{{ page.sermon }}&rdquo; &mdash; {{ page.speaker }}</p> 

          {% if page.hasNewMembers %}
            <h5>Installation of New Members</h5>
            <p>{{ page.newMembersNames }}</p>
          {% endif %}

          {% if page.hasTestimony %}
            <h5>Testimony</h5>
            <p>{{ page.testimonyNames }}</p>
          {% endif %} 
          
          {% if page.hasBaptism %}
            <h5>Baptism</h5>
            <p>{{ page.baptismNames }}</p>
          {% endif %}

          {% if page.hasInfantBaptism %}
            <h5>Infant Baptism</h5>
            <p>{{ page.infantBaptismNames }}</p>
          {% endif %}

          {% if page.hasConfirmation %}
            <h5>Confirmation</h5>
            <p>{{ page.confirmationNames }}</p>
          {% endif %}      

          {% if page.hasCommunion %}
            <h5 class="spacer">Communion</h5>
          {% endif %}

          <h5 class="spacer">Song of Commitment</h5>

          <h5 class="spacer">Benediction</h5>

          <h5>Announcements</h5>
          <p>Please refer to the back of this program.</p>

          {% if page.isSundayService %}
            <h5>Lunch</h5>
            <p>Please join us in the Fellowship Hall.</p>
          {% endif %}
        </div>
      </div>
      <div class="page page3 community">
        <div class="container">
          {% if page.isSundayService %}
            <h4 class="spacer">Growing Together:<br/>Community Group Questionnaire</h4>
            <h5>&ldquo;{{ page.sermon }}&rdquo;</h5>
            <p>{{ page.scripture }}</p>
            {{ content }}
          {% endif %}
          <div class="bottom-align">
            <h5>Connect</h5>
            <p>Learn about our church, find a ride, join a community group, or join our email distribution list: email info@christcentralsf.com or visit christcentralsf.com.</p>
            <div class="divider"></div>
            <h5>Community Groups</h5>
            <p>Our church members gather during the week to study the Bible, share fellowship in Christ, prayerfully carry one another's burdens, and give thanks to our God. Register online at christcentralsf.com/applications or email questions to office@christcentralsf.com.</p>
            {% include community-groups.html %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>