<html>
  <head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ccpc_{{ page.date | date: '%Y-%m-%d' }}.pdf</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/print.css"/>
  </head>
  <body>
    <div class="print">
      <div class="page page4 announcements">
        <div class="container">
          <div class="push-down">
            <h1>Announcements</h1>
            {{ content }}
          </div>
          <h2 class="name">Connect</h2>
          <p class="value">Learn more about our church, join a community group, find a ride, or subscribe to the Christ Central email distribution list via info@christcentralsf.com or by visiting http://christcentralsf.com.</p>
          <div class="offering">
            <h2>Offering</h2>
            <table>
              {% if page.offeringAdditionalLineItem != undefined %}
              <tr>
                <td>{{ page.offeringAdditionalLineItem }}</td>
                <td>..........................................</td>
                <td>{{ page.offeringAdditionalLineItemInflow }}</td>
              </tr>
              {% endif %}

              <tr>
                <td>Total offering last Sunday</td>
                <td>..........................................</td>
                <td>{{ page.offeringLastSunday }}</td>
              </tr>
              
              {% if page.offeringOnline != undefined %}
              <tr>
                <td>Total online offering</td>
                <td>..........................................</td>
                <td>{{ page.offeringOnline }}</td>
              </tr>
              {% endif %}
              
              <tr>
                <td>Total offering YTD</td>
                <td>..........................................</td>
                <td>{{ page.offeringYTD }}</td>
              </tr>
              <tr>
                <td>Offering budget</td>
                <td>..........................................</td>
                <td>{{ page.offeringBudget }}</td>
              </tr>
              <tr>
                <td>YTD offering percent</td>
                <td>..........................................</td>
                <td>{{ page.offeringPercent }}</td>
              </tr>
            </table>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <img class="name" src="/assets/images/Christ-Central-Presbyterian-Church.png"/>
            </div>
            <div class="col-sm-7 right-align">
              <p>
                50 Northridge Drive, Daly City, CA 94015<br/>
                (650) 550-0071 | http://christcentralsf.com
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="page page1">
        <div class="container">
          <img src="/assets/images/front-page.png"/>
        </div> 
      </div>
    </div>
    <div style="page-break-after: always;"></div>
    <div class="print">
      <div class="page page2 liturgy">
        <div class="container">
          <h1>Order of Worship</h1>
          <p class="date">{{ page.date | date: '%B %-d, %Y'}} / Volume {{ page.volume }}, Issue {{ page.issue }}</p>
          <h2 class="name">Christ Central Call to Worship</h2>
          <p class="value">{{ page.call }}</p>
          <h2>Songs of Wonder &amp; Praise</h2>
          <h2 class="name">Prayer of Repentance</h2>
          <p class="value">{{ page.repentance }}</p>
          <h2 class="name">Assurance of Pardon</h2>
          <p class="value">{{ page.assurance }}</p>
          <h2>Song of Gratitude/Offering</h2>
          <h2 class="name hide">Offering Prayer</h2>
          <p class="value hide">{{ page.prayer }}</p>          
          {% if page.hasNewMembers %}
            <h2>Installation of New Members</h2>
          {% endif %}
          {% if page.hasBaptism and page.hasCommunion %}
            <h2>Baptism &amp; Communion</h2>
          {% elsif page.hasBaptism %}
            <h2>Baptism</h2>
          {% elsif page.hasCommunion %}
            <h2>Communion</h2>
          {% endif %}
          <h2 class="name">Scripture Reading</h2>
          <p class="value scripture">{{ page.scripture }}</p>
          {{ content }}
          <h2 class="name">Sermon</h2>
          <p class="value">
            &ldquo;{{ page.sermon }}&rdquo; &mdash; {{ page.speaker }}<br/>
            <em class="theme">{{ page.theme }}, {{ page.date | date: '%Y' }}</em>
          </p>
          <h2>Song of Commitment</h2>
          <h2>Benediction</h2>
          <h2 class="name">Announcements</h2>
          <p class="value">Please refer to the back of this program.</p>
          <h2 class="name hide">Lunch</h2>
          <p class="value hide">Please join us for lunch today, served by {{ page.service }}, cleaned up by {{ page.cleanup }}.</p>
        </div>
      </div>
      <div class="page page3 community">
        <div class="container">
          <div class="push-down">
            <h1>Growing Together:</h1>
            <h2 class="name">Community Group Questionnaire</h2>
            <p class="value">The week of {{ page.date | date: '%B %-d, %Y'}}</p>
            <h2 class="name">&ldquo;{{ page.sermon }}&rdquo;</h2>
            <p class="value">{{ page.scripture }}</p>
            {{ content }}
          </div>
          <h2 class="name">Community Groups</h2>
          {% include community-groups.html %}
          <p class="value">Visit a community group! Contact office@christcentralsf.com for more info.</p>
        </div>
      </div>
    </div>
  </body>
</html>