{% include header.html %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Resources</h1>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <h2>News</h2>
      <p>For the latest news, email <a href="mailto:office@christcentralsf.com">office@christcentralsf.com</a> to join us on <a href="onrealm.org/christcentral" target="_blank">Realm</a>.</p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12" id="content">
      <h2>Sermons</h2>
      <div class="table-responsive">
        <table id="sermons" class="table table-hover">
          <thead>
            <th class="col-md-1" data-dynatable-sorts="sortDate">Date</th>
            <th class="hidden">SortDate</th>
            <th class="col-md-4">Sermon</th>
            <th class="col-md-2">Scripture</th>
            <th class="col-md-2">Speaker</th>
            <th class="col-md-2" data-dynatable-sorts="series">Series</th>
            <th class="col-md-1" data-dynatable-no-sort="true">Program</th>
          </thead>
        </table>
      </div>
    </div>
  </div>
  {{ content }}

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <h2>Applications</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-sm-4">Form</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://docs.google.com/forms/d/1PgU7JMYz33vFrzqHyf0EPKN2yX6j9XBw7rgRPmtuVDs" target="_blank">Education Ministry Application</a></td>
            <td>For those interested in serving our Education Ministry (Nursery, Children's and Youth)</td>
          </tr>
          <tr>
            <td><a href="https://docs.google.com/forms/d/1PNl50onNqxzTD-rDsLxEZWBUiJ8FjDYPjsBrAGY_8PU/" target="_blank">Children's Ministry Registration</a></td>
            <td>For families enrolling their child(ren) into our 2017-18 Nursery/Children's Ministry program</td>
          </tr>
          <tr>
            <td><a href="https://goo.gl/UJZvSh" target="_blank">Christ Central Network Conference</a></td>
            <td>For those interested in registering for the "Faith &amp; Work CCN conference"</td>
          </tr>
          <tr>
            <td><a href="https://drive.google.com/file/d/0BwWvhDk-pL6rV3VCWnBqMm55bkk/view" target="_blank">Scholarship</a></td>
            <td>For high school, college and graduate students interested in applying for our annual scholarship</td>
          </tr>
          <tr>
            <td><a href="https://docs.google.com/spreadsheet/viewform?formkey=dGFWdXFLM1AxckliUFI1SEc3b0NQNHc6MQ" target="_blank">Summer Missions</a></td>
            <td>For those interested in receiving congregational support for a short-term summer missions trip</td>
          </tr>
          <tr>
            <td><a href="http://goo.gl/forms/5J1uXqLTSr" target="_blank">Community Groups Registration</a></td>
            <td>For those interested in joining a Community Group</td>
          </tr>
          <tr>
            <td><a href="https://goo.gl/forms/kLzsHsCO0SiWrdnM2" target="_blank">Creative Content Request</a></td>
            <td>For those needing new creative content</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <script src="/assets/js/sermons-json-to-table.js"></script>
</div>

{% include footer.html %}
