{% include header.html %}

<div class="container">
  <div class="row">
    <div class="col-md-12" id="content">
      <h1>{{ page.title }}</h1>
      <div class="table-responsive">
        <table id="sermons" class="table table-hover">
          <thead>
            <th class="col-md-1" data-dynatable-sorts="sortDate">Date</th>
            <th class="hidden">SortDate</th>
            <th class="col-md-4">Sermon</th>
            <th class="col-md-2">Scripture</th>
            <th class="col-md-2">Speaker</th>
            <th class="col-md-2" data-dynatable-sorts="specialTheme">Theme</th>
            <th class="col-md-1" data-dynatable-no-sort="true">Program</th>
          </thead>
        </table>
      </div>
    </div>
  </div>
  {{ content }}
  <script src="/assets/js/sermons-json-to-table.js"></script>
  {% include footer.html %}
</div>