<html>
  <head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>ccpc_{{ page.date | date: '%Y-%m-%d' }}.pdf</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/print.css"/>
    <link rel="stylesheet" href="/assets/css/special-service.css"/>
  </head>
  <body>
    <div class="print">
      <div class="page page4 announcements">
        <div class="container">
          <div class="push-down">
            <h1>When I Survey The Wondrous Cross</h1>
            <pre class="announcement">
              When I survey the wondrous cross
              On which the Prince of glory died,
              My richest gain I count but loss,
              And pour contempt on all my pride.
              
              Forbid it, Lord, that I should boast,
              Save in the death of Christ my God!
              All the vain things that charm me most,
              I sacrifice them to His blood.
              
              See from His head, His hands, His feet,
              Sorrow and love flow mingled down!
              Did e’er such love and sorrow meet,
              Or thorns compose so rich a crown?
              
              Were the whole realm of nature mine,
              That were a present far too small;
              Love so amazing, so divine,
              Demands my soul, my life, my all.
            </pre>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <img class="name" src="/assets/images/Christ-Central-Presbyterian-Church.png"/>
            </div>
            <div class="col-sm-7 right-align">
              <p>
                50 Northridge Drive, Daly City, CA 94015<br/>
                (650) 550-0071 | http://christcentralsf.com
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="page page1">
        <div class="container">
          <img src="/assets/images/front-page.png"/>
        </div> 
      </div>
    </div>
    <div style="page-break-after: always;"></div>
    <div class="print">
      <div class="page page2 liturgy">
        <div class="container">
          <h1>Order of Worship</h1>
          <p class="date">March 29, 2015</p>
          <h2 class="name">Call to Worship</h2>
          <p class="value">{{ page.call }}</p>
          <h2 class="name">Hymn</h2>
          <p class="value">{{ page.hymn1 }}</p>
          <h2 class="name corp">Corporate Prayer </h2>
          <h2 class="name">Scripture Reading</h2>
          <p class="value scripture">{{ page.scripture }}</p>
          {{ content }}
          <h2 class="name">Sermon</h2>
          <p class="value">
            &ldquo;{{ page.sermon }}&rdquo; &mdash; {{ page.speaker }}<br/>
          </p>
          <h2 class="name">Vow</h2>
          <p class="value">{{ page.vow }}</p>
          <h2 class="name">Charge</h2>
          <p class="value">{{ page.charge }}</p>
          <h2 class="name">Hymn</h2>
          <p class="value">{{ page.hymn2 }}</p>
          <h2 class="name">Announcements</h2>
          <p class="value">{{ page.announcement }}</p>
          <h2 class="name">Benediction</h2>
          <p class="value">{{ page.benediction }}</p>
        </div>
      </div>
      <div class="page page3 announcements">
        <div class="container">
          <div class="push-down">
            <h1>Great Is Thy Faithfulness</h1>
            <pre>
              Great is thy faithfulness, O God my Father;
              there is no shadow of turning with thee;
              thou changest not, thy compassions, they fail not;
              as thou hast been thou forever will be.

              Refrain:
              Great is thy faithfulness! Great is thy faithfulness!
              Morning by morning new mercies I see;
              all I have needed thy hand hath provided;
              great is thy faithfulness, Lord, unto me!

              Summer and winter and springtime and harvest,
              sun, moon and stars in their courses above
              join with all nature in manifold witness
              to thy great faithfulness, mercy and love. 

              Refrain

              Pardon for sin and a peace that endureth
              thy own dear presence to cheer and to guide;
              strength for today and bright hope for tomorrow,
              blessings all mine, with ten thousand beside! 

              Refrain
            </pre>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>